
@{
    ViewBag.Title = "Overzicht";
}

    <div class="row" >

        <div class="col-sm-12 col-md-4 col-lg-3">
            <a href="@Url.Action("Index","Inventaris")">
                <div class="tile main col-sm-1 col-md-4 col-lg-3">
                    <h3 class="title">Inventaris</h3>
                    <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
                </div>
            </a>
        </div>

        <div class="col-sm-12 col-md-4 col-lg-3">
            <a href="@Url.Action("Index","Object")">
                <div class="tile main col-sm-1 col-md-4 col-lg-3">
                    <h3 class="title">Objecten</h3>
                    <span class="glyphicon glyphicon-blackboard" aria-hidden="true"></span>
                </div>
            </a>
        </div>

        <div class="col-sm-12 col-md-4 col-lg-3">
            <a href="@Url.Action("Index","Netwerk")">
                <div class="tile main col-sm-1 col-md-4 col-lg-3">
                    <h3 class="title">Netwerken</h3>
                    <span class="glyphicon glyphicon-transfer" aria-hidden="true"></span>
                </div>
            </a>
        </div>

        <div class="col-sm-12 col-md-4 col-lg-3">
            <a href="@Url.Action("Index","Harddisk")">
                <div class="tile main col-sm-1 col-md-4 col-lg-3">
                    <h3 class="title">Harddisks</h3>
                    <span class="glyphicon glyphicon-hd-video" aria-hidden="true"></span>
                </div>
            </a>
        </div>

        <div class="col-sm-12 col-md-4 col-lg-3">
            <a href="@Url.Action("Index","Leverancier")">
                <div class="tile main col-sm-1 col-md-4 col-lg-3">
                    <h3 class="title">Leveranciers</h3>
                    <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
                </div>
            </a>
        </div>

        <div class="col-sm-12 col-md-4 col-lg-3">
            <a href="@Url.Action("Index","Lokaal")">
                <div class="tile main col-sm-1 col-md-4 col-lg-3">
                    <h3 class="title">Lokalen</h3>
                    <span class="glyphicon glyphicon-education" aria-hidden="true"></span>
                </div>
            </a>
        </div>

        <div class="col-sm-12 col-md-4 col-lg-3">
            <a href="@Url.Action("Index","Factuur")">
                <div class="tile main col-sm-1 col-md-4 col-lg-3">
                    <h3 class="title">Facturen</h3>
                    <span class="glyphicon glyphicon-file" aria-hidden="true"></span>
                </div>
            </a>
        </div>

        <div class="col-sm-12 col-md-4 col-lg-3">
            <a href="@Url.Action("Index","Cpu")">
                <div class="tile main col-sm-1 col-md-4 col-lg-3">
                    <h3 class="title">Cpu</h3>
                    <span class="glyphicon glyphicon-file" aria-hidden="true"></span>
                </div>
            </a>
        </div>

        <div class="col-sm-12 col-md-4 col-lg-3">
            <a href="@Url.Action("Index","Device")">
                <div class="tile main col-sm-1 col-md-4 col-lg-3">
                    <h3 class="title">Device</h3>
                    <span class="glyphicon glyphicon-file" aria-hidden="true"></span>
                </div>
            </a>
        </div>

        <div class="col-sm-12 col-md-4 col-lg-3">
            <a href="@Url.Action("Index","GrafischeKaart")">
                <div class="tile main col-sm-1 col-md-4 col-lg-3">
                    <h3 class="title">Grafische Kaart</h3>
                    <span class="glyphicon glyphicon-file" aria-hidden="true"></span>
                </div>
            </a>
        </div>

        <div class="col-sm-12 col-md-4 col-lg-3">
            <a href="@Url.Action("Index","Verzekering")">
                <div class="tile main col-sm-1 col-md-4 col-lg-3">
                    <h3 class="title">Verzekering</h3>
                    <span class="glyphicon glyphicon-file" aria-hidden="true"></span>
                </div>
            </a>
        </div>

        <div class="col-sm-12 col-md-4 col-lg-3">
            <a href="@Url.Action("Index","Hardware")">
                <div class="tile main col-sm-1 col-md-4 col-lg-3">
                    <h3 class="title">Hardware</h3>
                    <span class="glyphicon glyphicon-file" aria-hidden="true"></span>
                </div>
            </a>
        </div>

        <div class="col-sm-12 col-md-4 col-lg-3">
            <a href="@Url.Action("Index","ObjectType")">
                <div class="tile main col-sm-1 col-md-4 col-lg-3">
                    <h3 class="title">ObjectType</h3>
                    <span class="glyphicon glyphicon-file" aria-hidden="true"></span>
                </div>
            </a>
        </div>

    </div>

