@model CvoInventarisClient.Models.TabelModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>LeverancierRapportering</h2>
<div style="visibility: @ViewBag.LeverancierConditie">
    <form action="/RapporteringLeverancier/Stap3" method="post">
        <p>stap 3 : Kies welke gegevens je uit de tabel Leverancier wilt hebben</p>
        @Html.CheckBox("naam") naam
        @Html.CheckBox("afkorting") afkorting
        @Html.CheckBox("straat") straat
        @Html.CheckBox("huisNummer") huis nummer
        @Html.CheckBox("busNummer") bus nummer
        @Html.CheckBox("postcode") postcode
        @Html.CheckBox("telefoon") telefoon
        @Html.CheckBox("fax") fax
        @Html.CheckBox("email") email
        @Html.CheckBox("website") website
        @Html.CheckBox("btwNummer") btw nummer
        @Html.CheckBox("iban") iban
        @Html.CheckBox("bic") bic
        @Html.CheckBox("toegevoegdOp") toegevoegd op
        <br />
        <br />
        <p>stap 4 : Kies welke conditie of condities u op de gegevens wilt toepassen</p>
        <br />
        @Html.DropDownList("namen", (IEnumerable<SelectListItem>)ViewBag.namen, "selecteer een naam", new { @class = "form-control" })
        @Html.DropDownList("afkortingen", (IEnumerable<SelectListItem>)ViewBag.afkortingen, "selecteer een afkorting", new { @class = "form-control" })
        @Html.DropDownList("straten", (IEnumerable<SelectListItem>)ViewBag.straten, "selecteer een straat", new { @class = "form-control" })
        @Html.DropDownList("huisNummers", (IEnumerable<SelectListItem>)ViewBag.huisNummers, "selecteer een huis nummer", new { @class = "form-control" })
        @Html.DropDownList("busNummers", (IEnumerable<SelectListItem>)ViewBag.busNummers, "selecteer een bus nummer", new { @class = "form-control" })
        @Html.DropDownList("postcodes", (IEnumerable<SelectListItem>)ViewBag.postcodes, "selecteer een postcode", new { @class = "form-control" })
        @Html.DropDownList("telefoons", (IEnumerable<SelectListItem>)ViewBag.telefoons, "selecteer een telefoon nummer", new { @class = "form-control" })
        @Html.DropDownList("faxen", (IEnumerable<SelectListItem>)ViewBag.faxen, "selecteer een fax", new { @class = "form-control" })
        @Html.DropDownList("emails", (IEnumerable<SelectListItem>)ViewBag.emails, "selecteer een email", new { @class = "form-control" })
        @Html.DropDownList("websites", (IEnumerable<SelectListItem>)ViewBag.websites, "selecteer een website", new { @class = "form-control" })
        @Html.DropDownList("btwNummers", (IEnumerable<SelectListItem>)ViewBag.btwNummers, "selecteer een btw nummer", new { @class = "form-control" })
        @Html.DropDownList("ibans", (IEnumerable<SelectListItem>)ViewBag.ibans, "selecteer een iban", new { @class = "form-control" })
        @Html.DropDownList("bics", (IEnumerable<SelectListItem>)ViewBag.bics, "selecteer een bic", new { @class = "form-control" })
        @Html.DropDownList("toegevoegdOps", (IEnumerable<SelectListItem>)ViewBag.toegevoegdOps, "selecteer een toegevoegd op", new { @class = "form-control" })
        <button name="action" type="submit" value="conditieKeuze/@ViewBag.resultaatCheck">klaar</button>
    </form>
</div>
@if (Model.leveranciers != null)
{
    if (Model.leveranciers.Any())
    {
        <div class="panel panel-primary">
            <div class="panel-heading">@ViewBag.Title</div>
            <table style="visibility : @ViewBag.leverancier" class="table table-striped">
                <tr>
                    <th>
                        @if (Model.leveranciers[0].Naam != null)
                        {
                            @Html.DisplayNameFor(model => model.leveranciers[0].Naam);
                        }
                    </th>
                    <th>
                        @if (Model.leveranciers[0].Afkorting != null)
                        {
                            @Html.DisplayNameFor(model => model.leveranciers[0].Afkorting);
                        }
                    </th>
                    <th>
                        @if (Model.leveranciers[0].Straat != null)
                        {
                            @Html.DisplayNameFor(model => model.leveranciers[0].Straat);
                        }
                    </th>
                    <th>
                        @if (Model.leveranciers[0].HuisNummer != null)
                        {
                            @Html.DisplayNameFor(model => model.leveranciers[0].HuisNummer);
                        }
                    </th>
                    <th>
                        @if (Model.leveranciers[0].BusNummer != null)
                        {
                            @Html.DisplayNameFor(model => model.leveranciers[0].BusNummer);
                        }
                    </th>
                    <th>
                        @if (Model.leveranciers[0].Postcode != 0)
                        {
                            @Html.DisplayNameFor(model => model.leveranciers[0].Postcode);
                        }
                    </th>
                    <th>
                        @if (Model.leveranciers[0].Telefoon != null)
                        {
                            @Html.DisplayNameFor(model => model.leveranciers[0].Telefoon);
                        }
                    </th>
                    <th>
                        @if (Model.leveranciers[0].Fax != null)
                        {
                            @Html.DisplayNameFor(model => model.leveranciers[0].Fax);
                        }
                    </th>
                    <th>
                        @if (Model.leveranciers[0].Email != null)
                        {
                            @Html.DisplayNameFor(model => model.leveranciers[0].Email);
                        }
                    </th>
                    <th>
                        @if (Model.leveranciers[0].Website != null)
                        {
                            @Html.DisplayNameFor(model => model.leveranciers[0].Website);
                        }
                    </th>
                    <th>
                        @if (Model.leveranciers[0].BtwNummer != null)
                        {
                            @Html.DisplayNameFor(model => model.leveranciers[0].BtwNummer);
                        }
                    </th>
                    <th>
                        @if (Model.leveranciers[0].Iban != null)
                        {
                            @Html.DisplayNameFor(model => model.leveranciers[0].Iban);
                        }
                    </th>
                    <th>
                        @if (Model.leveranciers[0].Bic != null)
                        {
                            @Html.DisplayNameFor(model => model.leveranciers[0].Bic);
                        }
                    </th>
                    <th>
                        @if (Model.leveranciers[0].ToegevoegdOp != null)
                        {
                            @Html.DisplayNameFor(model => model.leveranciers[0].ToegevoegdOp);
                        }
                    </th>
                </tr>


                @foreach (var item in Model.leveranciers)
                {
                    <tr>
                        <td>
                            @if (item.Naam != null)
                            {
                                @Html.DisplayFor(modelItem => item.Naam);
                            }
                        </td>
                        <td>
                            @if (item.Afkorting != null)
                            {
                                @Html.DisplayFor(modelItem => item.Afkorting);
                            }
                        </td>
                        <td>
                            @if (item.Straat != null)
                            {
                                @Html.DisplayFor(modelItem => item.Straat);
                            }
                        </td>
                        <td>
                            @if (item.HuisNummer != null)
                            {
                                @Html.DisplayFor(modelItem => item.HuisNummer);
                            }
                        </td>
                        <td>
                            @if (item.BusNummer != null)
                            {
                                @Html.DisplayFor(modelItem => item.BusNummer);
                            }
                        </td>
                        <td>
                            @if (item.Postcode != 0)
                            {
                                @Html.DisplayFor(modelItem => item.Postcode);
                            }
                        </td>
                        <td>
                            @if (item.Telefoon != null)
                            {
                                @Html.DisplayFor(modelItem => item.Telefoon);
                            }
                        <td>
                            @if (item.Fax != null)
                            {
                                @Html.DisplayFor(modelItem => item.Fax);
                            }
                        </td>
                        <td>
                            @if (item.Email != null)
                            {
                                @Html.DisplayFor(modelItem => item.Email);
                            }
                        </td>
                        <td>
                            @if (item.Website != null)
                            {
                                @Html.DisplayFor(modelItem => item.Website);
                            }
                        </td>
                        <td>
                            @if (item.BtwNummer != null)
                            {
                                @Html.DisplayFor(modelItem => item.BtwNummer);
                            }
                        </td>
                        <td>
                            @if (item.Iban != null)
                            {
                                @Html.DisplayFor(modelItem => item.Iban);
                            }
                        </td>
                        <td>
                            @if (item.Bic != null)
                            {
                                @Html.DisplayFor(modelItem => item.Bic);
                            }
                        </td>
                        <td>
                            @if (item.ToegevoegdOp != null)
                            {
                                @Html.DisplayFor(modelItem => item.ToegevoegdOp);
                            }
                        </td>
                    </tr>
                }
            </table>
        </div>
    }
}
<div style="visibility : @ViewBag.stijlStapOpslaan">

    @using (Html.BeginForm("StapOpslaan", "RapporteringLeverancier"))
    {
        @Html.Hidden("kolomnaam", (string)@ViewBag.kolomnamen)
        @Html.Hidden("query", (string)@ViewBag.query)
        <p> stap 3 wilt u de informatie uit tabel Leverancier opslaan als pdf of excel</p>
        <button name="opslaan" type="submit" value="OpslaanExcel">Opslaan als excel</button>
        <button name="opslaan" type="submit" value="OpslaanPdf">Opslaan als Pdf</button>
    }
</div>


