@model CvoInventarisClient.Models.TabelModel
@{
    ViewBag.Title = "Index";
}
<div style="visibility: @ViewBag.HardwareConditie">
    <form action="/RapporteringHardware/Stap3" method="post">
        <p>stap 3 : Kies welke gegevens je uit de tabel Hardware wilt hebben</p>
        @Html.CheckBox("idHardware", new { @checked = "checked", @disabled = "disabled" }) id hardware
        @Html.CheckBox("idCpu") cpu
        @Html.CheckBox("idDevice") apparaat
        @Html.CheckBox("idGrafischeKaart") grafische kaart
        @Html.CheckBox("idHarddisk") harddisk
        <br />
        <br />
        <p>stap 4 : Kies welke conditie of condities u op de gegevens wilt toepassen</p>
        <br />
        @*dit zorgt ervoor dat de gebruker enkel een merk kan selecteren uit de database. waardoor je al zeker weet dat hij niets fout kan intypen*@
        <p>@Html.CheckBox("cpuKeuzeCheck") cpu = @Html.DropDownList("cpus", "selecteer een cpu")</p>
        <p>@Html.CheckBox("deviceKeuzeCheck") apparaat = @Html.DropDownList("apparaten", "selecteer een apparaat")</p>
        <p>@Html.CheckBox("grafischeKaartKeuzeCheck") grafische kaart = @Html.DropDownList("grafischeKaarten", "selecteer een grafische kaart")</p>
        <p>@Html.CheckBox("harddiskKeuzeCheck") harddisk = @Html.DropDownList("harddisks", "selecteer een harddisk")</p>
        <button name="action" type="submit" value="conditieKeuze/@ViewBag.resultaatCheck">klaar</button>
    </form>
</div>


<table class="table" style="visibility : @ViewBag.hardware">
    @if (Model.hardwares != null)
    {
        <tr>
            <th>
                @if (Model.hardwares[0].IdHardware != 0)
                { @Html.DisplayNameFor(model => model.hardwares[0].IdHardware);
                }
            </th>
            <th>
                @if (Model.hardwares[0].Cpu.Merk != null)
                { @Html.Raw("Cpu");
                }
            </th>
            <th>
                @if (Model.hardwares[0].Device.Merk != null)
                { @Html.Raw("apparaat");
                }
            </th>
            <th>
                @if (Model.hardwares[0].GrafischeKaart.Merk != null)
                { @Html.Raw("grafische kaart");
                }
            </th>
            <th>
                @if (Model.hardwares[0].Harddisk.Merk != null)
                { @Html.Raw("harddisk");
                }
            </th>
        </tr>

        foreach (var item in Model.hardwares)
        {
            <tr>
                <td>
                    @if (item.IdHardware != 0)
                    { @Html.DisplayFor(modelItem => item.IdHardware)}

                </td>
                <td>
                    @if (item.Cpu.Merk != null)
                    { @Html.DisplayFor(modelItem => item.Cpu.Merk)}

                </td>
                <td>
                    @if (item.Device.Merk != null)
                    {@Html.DisplayFor(modelItem => item.Device.Merk) }

                </td>
                <td>
                    @if (item.GrafischeKaart.Merk != null)
                    {@Html.DisplayFor(modelItem => item.GrafischeKaart.Merk) }
                </td>
                <td>
                    @if (item.Harddisk.Merk != null)
                    { @Html.DisplayFor(modelItem => item.Harddisk.Merk)}
                </td>
            </tr>
        }
    }
</table>

<div style="visibility : @ViewBag.stijlStapOpslaan">

    @using (Html.BeginForm("StapOpslaan", "RapporteringHardware"))
    {
        @Html.Hidden("kolomnaam", (string)@ViewBag.kolomnamen)
        @Html.Hidden("query", (string)@ViewBag.query)
        <p> stap 3 wilt u de informatie uit tabel CPU opslaan als pdf of excel</p>
        <button name="opslaan" type="submit" value="OpslaanExcel">Opslaan als excel</button>
        <button name="opslaan" type="submit" value="OpslaanPdf">Opslaan als Pdf</button>
    }
</div>




