@model CvoInventarisClient.Models.HardwareViewModel
@{
    ViewBag.Title = "Hardware - Edit";
}

@using (Html.BeginForm("Edit", "Hardware"))
{
    <div class="panel panel-primary">
        <div class="panel-heading">@ViewBag.Title</div>
        <div class="container-fluid">
            @Html.Hidden("idHardware", Model.Hardwares[0].IdHardware)
            @Html.Hidden("defaultIdCpu", Model.Cpus[0].Value)
            @Html.Hidden("defaultIdDevice", Model.Devices[0].Value)
            @Html.Hidden("defaultIdGrafischeKaart", Model.GrafischeKaarten[0].Value)
            @Html.Hidden("defaultIdHarddisk", Model.Harddisks[0].Value)
            
            <div class="form-group">
                @Html.Raw("cpu")
                @Html.DropDownListFor(model => model.Cpus, Model.Cpus, Model.Cpus[0].Text, new { @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.Raw("apparaat")
                @Html.DropDownListFor(model => model.Devices, Model.Devices, Model.Devices[0].Text, new { @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.Raw("grafische kaart")
                @Html.DropDownListFor(model => model.GrafischeKaarten, Model.GrafischeKaarten, Model.GrafischeKaarten[0].Text, new { @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.Raw("harddisk")
                @Html.DropDownListFor(model => model.Harddisks, Model.Harddisks, Model.Harddisks[0].Text, new { @class = "form-control" })
            </div>

        </div>
    </div>
    <button type="submit" class="btn btn-primary">Pas hardware aan aan</button>
    @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-default" })
}