@model CvoInventarisClient.Models.CpuModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

@using (Html.BeginForm())
{
    <div class="form-horizintal">
        <h4>Cpu</h4>
        <hr />

        <div>
            @Html.LabelFor(model => model.IdCpu)
            <div>
                @Html.EditorFor(model => model.IdCpu)
            </div>
        </div>

        <div>
            @Html.LabelFor(model => model.Merk)
            <div>
                @Html.EditorFor(model => model.Merk)
            </div>
        </div>

        <div>
            @Html.LabelFor(model => model.Type)
            <div>
                @Html.EditorFor(model => model.Type)
            </div>
        </div>

        <div>
            @Html.LabelFor(model => model.Snelheid)
            <div>
                @Html.EditorFor(model => model.Snelheid)
            </div>
        </div>

        <div>
            @Html.LabelFor(model => model.FabrieksNummer)
            <div>
                @Html.EditorFor(model => model.FabrieksNummer)
            </div>
        </div>

    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>


