@model CvoInventarisClient.ServiceReference.Object

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TblObject</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IdFactuur)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdFactuur)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdLeverancier)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdLeverancier)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdObjectType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdObjectType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Kenmerken)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kenmerken)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
