@model CvoInventarisClient.ServiceReference.Object

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TblObject</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.idFactuur)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idFactuur)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.idLeverancier)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idLeverancier)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.idObjectType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idObjectType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.kenmerken)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.kenmerken)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
