@model CvoInventarisClient.Models.ObjectViewModel

@{
    ViewBag.Title = "Object - Edit";
}

@using (Html.BeginForm("Edit", "Object"))
{
    <div class="panel panel-primary">
        <div class="panel-heading">@ViewBag.Title</div>
        <div class="container-fluid">
            @Html.Hidden("idObject", Model.Objecten[0].Id)
            @Html.Hidden("defaultIdObjectType", Model.Objecten[0].ObjectType.Id)
            @Html.Hidden("defaultIdFactuur", Model.Objecten[0].Factuur.Id)
            <div class="form-group">
                @Html.DisplayNameFor(model => model.Objecten[0].ObjectType)
                @Html.DropDownListFor(model => model.ObjectTypes, Model.ObjectTypes, Model.Objecten[0].ObjectType.Omschrijving, new { @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.DisplayNameFor(model => model.Objecten[0].Kenmerken)
                <input class="form-control" type="text" maxlength="50" name="kenmerken" value="@Model.Objecten[0].Kenmerken" required />
            </div>
            <div class="form-group">
                @Html.DisplayNameFor(model => model.Objecten[0].Factuur)
                @Html.DropDownListFor(model => model.Facturen, Model.Facturen, Model.Objecten[0].Factuur.FactuurNummer, new { @class = "form-control" })
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Pas campus aan</button>
    @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-default" })
}