@model CvoInventarisClient.Models.ObjectViewModel

@{
    ViewBag.Title = "Objecten";

    List<String> amounts = new List<string>() { "100", "200", "300" };
    List<String> ordertypes = new List<string>() { "Meest recent", "Oudst", "Type" };
}

@if (!String.IsNullOrWhiteSpace(ViewBag.action))
{
    <div class="alert alert-info alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        @ViewBag.action
    </div>
}
@if (!HttpContext.Current.Request.RequestContext.RouteData.Values["action"].ToString().ToLower().Equals("filter".ToLower()))
{
    using (Html.BeginForm("Index", "Object"))
    {

        <select name="amount" onchange='if(this.value != null) { this.form.submit(); }'>
            <option value="">@ViewBag.amount</option>
            @foreach (var item in amounts)
            {
                if (ViewBag.amount != item)
                {
                    <option value="@item">@item</option>
                }
            }
        </select>

        <select name="order" onchange='if(this.value != null) { this.form.submit(); }'>
            <option value="">@ViewBag.ordertype</option>
            @foreach (var item in ordertypes)
            {
                if (ViewBag.ordertype != item)
                {
                    <option value="@item">@item</option>
                }
            }
        </select>
    }
}

<div class="spacer"></div>

@using (Html.BeginForm("Delete", "Object"))
{
    <a class="btn btn-primary" href="@Url.Action("Create", "Object")">Nieuw</a>
    <button type="button" class="btn btn-danger" data-toggle="modal" data-target=".verwijderModal">Verwijder</button>

    if (HttpContext.Current.Request.RequestContext.RouteData.Values["action"].ToString().ToLower().Equals("filter".ToLower()))
    {
        <a class="btn btn-danger pull-right" href="@Url.Action("Index", "Object")">Verwijder filter</a>
    }
    else
    {
        <button type="button" class="btn btn-primary pull-right" data-toggle="modal" data-target=".filterModal"><span class="glyphicon glyphicon-search"></span></button>
    }

    <div class="spacer"></div>
    <div class="panel panel-primary">
        <div class="panel-heading">@ViewBag.Heading</div>
        <table class="table table-striped dataTable">
            <thead>
                <tr>
                    <th style="width:1%;"></th>
                    <th style="width:1%;"></th>
                    <th style="width:25%;">
                        @Html.DisplayNameFor(model => model.Objecten[0].Omschrijving)
                    </th>
                    <th style="width:25%;">
                        @Html.DisplayNameFor(model => model.Objecten[0].Kenmerken)
                    </th>
                    <th style="width:24%;">
                        @Html.DisplayNameFor(model => model.Objecten[0].ObjectType)
                    </th>
                    <th style="width:24%;">
                        @Html.DisplayNameFor(model => model.Objecten[0].afmetingen)
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Objecten)
                {
                    <tr>
                        <td>
                            <input type="checkbox" name="idArray" value="@item.Id" />
                        </td>
                        <td>
                            <a class="bottom-align-text" href="@Url.Action("Edit", "Object", new { id = item.Id })"><span class="glyphicon glyphicon-pencil"></span></a>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Omschrijving)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Kenmerken)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ObjectType.Omschrijving)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.afmetingen)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <!-- Delete modal -->
    <div class="modal fade verwijderModal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <strong>Let op!</strong>
                </div>
                <div class="modal-body">
                    Bent u zeker?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <input type="submit" name="Delete" value="Verwijder" class="btn btn-danger" />
                </div>
            </div>
        </div>
    </div>
}

<!-- Filter modal -->
<div class="modal fade filterModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <strong>nieuwe filter</strong>
            </div>
            @using (Html.BeginForm("Filter", "Object"))
            {

                <div class="modal-body">
                    <div cclass="form-group">
                        <label>Kenmerk:</label>
                        <input class="form-control" type="text" name="kenmerkenFilter" placeholder="Kenmerk.." />

                        <label>ObjectType:</label>
                        <select class="form-control" name="objectTypeFilter">
                            <option value="-1">-Selecteer-</option>
                            @foreach (var item in Model.ObjectTypes)
                            {
                                <option value="@item.Value">@item.Text</option>
                            }
                        </select>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">filter</button>
                </div>
                foreach (var item in Model.Objecten)
                {
                    <input type="hidden" name="modelList" value="@item.Id" />
                }
            }
        </div>
    </div>
</div>

@using (Html.BeginForm("Export", "Export"))
{
    //loop aanpassen naar model
    foreach (var item in Model.Objecten)
    {
        <input type="hidden" name="modelList" value="@item.Id" />
    }
    <input type="hidden" name="type" value="@HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString()" />

    <button type="submit" name="exportType" value="pdf" class="btn btn-success">Exporteer naar PDF</button>
    <button type="submit" name="exportType" value="excel" class="btn btn-success">Export naar Excel</button>
}
