@model CvoInventarisClient.Models.CampusModel

@{ 
    ViewBag.Title = "Campus - Edit";
}

@using (Html.BeginForm("Edit", "Campus"))
{
    <div class="panel panel-primary">
        <div class="panel-heading">@ViewBag.Title</div>
        <div class="container-fluid">
            @Html.Hidden("idCampus", Model.IdCampus)
            <div class="form-group">
                @Html.DisplayNameFor(model => model.Naam)
                @Html.ValidationMessageFor(model => model.Naam)
                <input class="form-control" type="text" name="naam" value="@Model.Naam"/>
            </div>
            <div class="form-group">
                @Html.DisplayNameFor(model => model.Postcode)
                @Html.ValidationMessageFor(model => model.Postcode)
                <input class="form-control" type="text" name="postcode" value="@Model.Postcode" />
            </div>
            <div class="form-group">
                @Html.DisplayNameFor(model => model.Straat)
                @Html.ValidationMessageFor(model => model.Straat)
                <input class="form-control" type="text" name="straat" value="@Model.Straat"/>
            </div>
            <div class="form-group">
                @Html.DisplayNameFor(model => model.Nummer)
                @Html.ValidationMessageFor(model => model.Nummer)
                <input class="form-control" type="text" name="nummer" value="@Model.Nummer"/>
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Pas campus aan</button>
    @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-default"})
}