@model CvoInventarisClient.Models.CampusViewModel

@{
    ViewBag.Title = "Campus";
    List<String> amounts = new List<string>() { "100", "200", "300" };
    List<String> ordertypes = new List<string>() { "Meest recent", "Oudst", "Gemeente" };
}

@if (!String.IsNullOrWhiteSpace(ViewBag.action))
{
    <div class="alert alert-info alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        @ViewBag.action
    </div>
}
@if (!HttpContext.Current.Request.RequestContext.RouteData.Values["action"].ToString().ToLower().Equals("filter".ToLower()))
{
    using (Html.BeginForm("Index", "Campus"))
    {

        <select name="amount" onchange='if(this.value != null) { this.form.submit(); }'>
            <option value="">@ViewBag.amount</option>
            @foreach (var item in amounts)
            {
                if (ViewBag.amount != item)
                {
                    <option value="@item">@item</option>
                }
            }
        </select>

        <select name="order" onchange='if(this.value != null) { this.form.submit(); }'>
            <option value="">@ViewBag.ordertype</option>
            @foreach (var item in ordertypes)
            {
                if (ViewBag.ordertype != item)
                {
                    <option value="@item">@item</option>
                }
            }
        </select>
    }
}

<div class="spacer"></div>

@using (Html.BeginForm("Delete", "Campus"))
{
    <a class="btn btn-primary" href="@Url.Action("Create", "Campus")">Nieuw</a>
    <button type="button" class="btn btn-danger" data-toggle="modal" data-target=".verwijderModal">Verwijder</button>

    if (HttpContext.Current.Request.RequestContext.RouteData.Values["action"].ToString().ToLower().Equals("filter".ToLower()))
    {
        <a class="btn btn-danger pull-right" href="@Url.Action("Index", "Campus",new RouteValueDictionary(new { refresh = true}))">Verwijder filter</a>
    }
    else
    {
        <button type="button" class="btn btn-primary pull-right" data-toggle="modal" data-target=".filterModal"><span class="glyphicon glyphicon-search"></span></button>
    }
    
    <div class="spacer"></div>

    <div class="panel panel-primary">
        <div class="panel-heading">@ViewBag.Heading</div>
        <table class="table table-striped dataTable">
            <thead>
                <tr>
                     <th style="width:1%;"></th>
                     <th style="width:1%;"></th>
                     <th style="width:24.5%;">
                        @Html.DisplayNameFor(model => model.Campussen[0].Naam)
                    </th>
                     <th style="width:24.5%;">
                        @Html.DisplayNameFor(model => model.Campussen[0].Postcode.Gemeente)
                    </th>
                     <th style="width:24.5%;">
                        @Html.DisplayNameFor(model => model.Campussen[0].Straat)
                    </th>
                     <th style="width:24.5%;">
                        @Html.DisplayNameFor(model => model.Campussen[0].Nummer)
                    </th>
                </tr>
            </thead>
            <tbody class="search">
                @foreach (var item in Model.Campussen)
                {
                    <tr>
                        <td>
                            <input type="checkbox" name="idArray" value="@item.Id" />
                        </td>
                        <td>
                            <a class="bottom-align-text" href="@Url.Action("Edit", "Campus", new { id = item.Id })"><s><span class="glyphicon glyphicon-pencil"></span></s></a>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Naam)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Postcode.Gemeente)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Straat)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nummer)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <!-- Delete modal -->
    <div class="modal fade verwijderModal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <strong>Let op!</strong>
                </div>
                <div class="modal-body">
                    Bent u zeker?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <input type="submit" name="Delete" value="Verwijder" class="btn btn-danger" />
                </div>
            </div>
        </div>
    </div>
}

@*<div class="modal fade nieuwModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <strong>Vul in</strong>
            </div>
            @using (Html.BeginForm("Create", "Campus"))
            {
                <div class="modal-body">
                    <div class="form-group">
                        @Html.DisplayNameFor(model => model.Campussen[0].Naam)
                        <input class="form-control" maxlength="50" type="text" name="naam" />
                    </div>
                    <div class="form-group">
                        @Html.DisplayNameFor(model => model.Campussen[0].Postcode)
                        <select class="form-control" name="postcode">
                            <option value="-1">-Selecteer-</option>
                            @foreach (var item in Model.Postcodes)
                            {
                                <option value="@item.Value">@item.Text</option>
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        @Html.DisplayNameFor(model => model.Campussen[0].Straat)
                        <input class="form-control" maxlength="50" type="text" name="straat" />
                    </div>
                    <div class="form-group">
                        @Html.DisplayNameFor(model => model.Campussen[0].Nummer)
                        <input class="form-control" maxlength="50" type="text" name="nummer" />
                    </div>
                </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Voeg campus toe</button>
                    </div>
            }
        </div>
    </div>
</div>*@
<!-- Filter modal -->
<div class="modal fade filterModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <strong>nieuwe filter</strong>
            </div>
            @using (Html.BeginForm("Filter", "Campus"))
            {
                <div class="modal-body">
                    <div cclass="form-group">
                        <div class="form-group">
                            <label>Naam:</label>
                            <input type="text" name="naamFilter" />
                        </div>
                        <div class="form-group">
                            <label>Postcode:</label>
                            <select class="form-control" name="postcodeFilter">
                                <option value="-1">-Selecteer-</option>
                                @foreach (var item in Model.Postcodes)
                                {
                                    <option value="@item.Value">@item.Text</option>
                                }
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Straat:</label>
                            <input type="text" name="straatFilter" />
                        </div>
                        <div class="form-group">
                            <label>Nummer:</label>
                            <input type="text" name="nummmerFilter" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">filter</button>
                </div>
            }
        </div>
    </div>
</div>

@using (Html.BeginForm("Export", "Export"))
{
    //loop aanpassen naar model
    foreach (var item in Model.Campussen)
    {
        <input type="hidden" name="modelList" value="@item.Id" />
    }
    <input type="hidden" name="type" value="@HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString()" />

    <button type="submit" name="exportType" value="pdf" class="btn btn-success">Exporteer naar PDF</button>
    <button type="submit" name="exportType" value="excel" class="btn btn-success">Exporteer naar Excel</button>
}

