@model CvoInventarisClient.Models.CampusViewModel

@{
    ViewBag.Title = "Campus";
}

@if (!String.IsNullOrWhiteSpace(ViewBag.action))
{
    <div class="alert alert-info alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        @ViewBag.action
    </div>
}
@using (Html.BeginForm("Delete", "Campus"))
{
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".nieuwModal">Nieuw</button>
    <button type="button" class="btn btn-danger" data-toggle="modal" data-target=".verwijderModal">Verwijder</button>

    if (HttpContext.Current.Request.RequestContext.RouteData.Values["action"].ToString().ToLower().Equals("filter".ToLower()))
    {
        <a class="btn btn-danger pull-right" href="@Url.Action("Index", "Campus")">Verwijder filter</a>
    }
    else
    {
        <button type="button" class="btn btn-primary pull-right" data-toggle="modal" data-target=".filterModal"><span class="glyphicon glyphicon-search"></span></button>
    }

    <div class="spacer"></div>

    <div class="panel panel-primary">
        <div class="panel-heading">@ViewBag.Title</div>
        <table class="table table-striped dataTable">
            <thead>
                <tr>
                    <th></th>
                    <th></th>
                    <th>
                        @Html.DisplayNameFor(model => model.campussen[0].Naam)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.campussen[0].Postcode)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.campussen[0].Straat)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.campussen[0].Nummer)
                    </th>
                </tr>
            </thead>
            <tbody class="search">
                @foreach (var item in Model.campussen)
                {
                    <tr>
                        <td>
                            <input type="checkbox" name="idArray" value="@item.IdCampus" />
                        </td>
                        <td>
                            <a class="bottom-align-text" href="@Url.Action("Edit", "Campus", new { id = item.IdCampus })"><s><span class="glyphicon glyphicon-pencil"></span></s></a>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Naam)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Postcode)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Straat)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nummer)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <!-- Delete modal -->
    <div class="modal fade verwijderModal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <strong>Let op!</strong>
                </div>
                <div class="modal-body">
                    Bent u zeker?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <input type="submit" name="Delete" value="Verwijder" class="btn btn-danger" />
                </div>
            </div>
        </div>
    </div>
}

<div class="modal fade nieuwModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <strong>Vul in</strong>
            </div>
                @using (Html.BeginForm("Create", "Campus"))
                {
                    <div class="modal-body">
                        <div class="form-group">
                            @Html.DisplayNameFor(model => model.campussen[0].Naam)
                            <input class="form-control" maxlength="50" type="text" name="naam" required/>
                        </div>
                        <div class="form-group">
                            @Html.DisplayNameFor(model => model.campussen[0].Postcode)
                            <input class="form-control" type="text" name="postcode" required/>
                        </div>
                        <div class="form-group">
                            @Html.DisplayNameFor(model => model.campussen[0].Straat)
                            <input class="form-control" maxlength="50" type="text" name="straat" required/>
                        </div>
                        <div class="form-group">
                            @Html.DisplayNameFor(model => model.campussen[0].Nummer)
                            <input class="form-control" maxlength="50" type="text" name="nummer" required/>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Voeg campus toe</button>
                    </div>
                }
        </div>
    </div>
</div>
<!-- Filter modal -->
<div class="modal fade filterModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <strong>nieuwe filter</strong>
            </div>
            @using (Html.BeginForm("Filter", "Campus"))
            {
                <div class="modal-body">
                    <div cclass="form-group">
                        <label>Naam:</label>
                        <input type="text" name="naamFilter" />
                        <label>Postcode:</label>
                        <input type="text" name="postcodekFilter" />
                        <label>Straat:</label>
                        <input type="text" name="straatFilter" />
                        <label>Nummer:</label>
                        <input type="text" name="nummmerFilter" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">filter</button>
                </div>
            }
        </div>
    </div>
</div>

@using (Html.BeginForm("Export", "Export"))
{
    //loop aanpassen naar model
    foreach (var item in Model.campussen)
    {
        <input type="hidden" name="modelList" value="@item.IdCampus" />
    }
    <input type="hidden" name="type" value="@HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString()" />

    <button type="submit" name="exportType" value="pdf" class="btn btn-success">Export to PDF</button>
    <button type="submit" name="exportType" value="excel" class="btn btn-success">Export to Excel</button>
}

