@model CvoInventarisClient.Models.DeviceModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

<h2>@ViewBag.EditMesage</h2>

@using (Html.BeginForm())
{
    <div class="form-horizintal">
        <h4>Device</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.IdDevice)

        <div>
            @Html.LabelFor(model => model.Merk)
            <div>
                @Html.EditorFor(model => model.Merk)
            </div>
        </div>

        <div>
            @Html.LabelFor(model => model.Type)
            <div>
                @Html.EditorFor(model => model.Type)
            </div>
        </div>

        <div>
            @Html.LabelFor(model => model.Serienummer)
            <div>
                @Html.EditorFor(model => model.Serienummer)
            </div>
        </div>

        <div>
            @Html.LabelFor(model => model.IsPcCompatibel)
            <div>
                @Html.EditorFor(model => model.IsPcCompatibel)
            </div>
        </div>

        <div>
            @Html.LabelFor(model => model.FabrieksNummer)
            <div>
                @Html.EditorFor(model => model.FabrieksNummer)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>


