@model CvoInventarisClient.Models.DeviceModel

@{
    ViewBag.Title = "Device - Edit";
}

@using (Html.BeginForm("Edit", "Device"))
{
    <div class="panel panel-primary">
        <div class="panel-heading">@ViewBag.Title</div>
        <div class="container-fluid">
            @Html.Hidden("IdDevice", Model.IdDevice)
            <div class="form-group">
                @Html.DisplayNameFor(model => model.Merk)
                <input class="form-control" type="text" name="merk" value="@Model.Merk" required />
            </div>
            <div class="form-group">
                @Html.DisplayNameFor(model => model.Type)
                <input class="form-control" type="text" name="driver" value="@Model.Type" required />
            </div>
            <div class="form-group">
                @Html.DisplayNameFor(model => model.Serienummer)
                <input class="form-control" type="text" name="snelheid" value="@Model.Serienummer" required />
            </div>
            <div class="form-group">
                @Html.DisplayNameFor(model => model.IsPcCompatibel)
                <input class="form-control" type="text" name="snelheid" value="@Model.IsPcCompatibel" required />
            </div>
            <div class="form-group">
                @Html.DisplayNameFor(model => model.FabrieksNummer)
                <input class="form-control" type="text" name="type" value="@Model.FabrieksNummer" min="1" required />
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Pas device aan</button>
    @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-default" })
}
