@model CvoInventarisClient.Models.TabelModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>CampusRapportering</h2>
<div style="visibility: @ViewBag.cpuConditie">
    <form action="/RapporteringCampus/Stap3" method="post">
        <p>stap 3 : Kies welke gegevens je uit de tabel Campus wilt hebben</p>
        @Html.CheckBox("naam") naam
        @Html.CheckBox("straat") straat
        @Html.CheckBox("postcode") postcode
        @Html.CheckBox("nummer") nummer
        <br />
        <br />
        <p>stap 4 : Kies welke conditie of condities u op de gegevens wilt toepassen</p>
        <br />
        @Html.DropDownList("namen", (IEnumerable<SelectListItem>)ViewBag.namen, "selecteer een naam", new { @class = "form-control" })
        @Html.DropDownList("straten", (IEnumerable<SelectListItem>)ViewBag.straten, "selecteer een straat", new { @class = "form-control" })
        @Html.DropDownList("nummers", (IEnumerable<SelectListItem>)ViewBag.nummers, "selecteer een nummers", new { @class = "form-control" })
        @Html.DropDownList("postcodes", (IEnumerable<SelectListItem>)ViewBag.postcodes, "selecteer een postcodes", new { @class = "form-control" })
        <button name="action" type="submit" value="conditieKeuze/@ViewBag.resultaatCheck">klaar</button>
    </form>
</div>
@if (Model.campussen != null)
{
    if (Model.campussen.Any())
    {
        <div class="panel panel-primary">
            <div class="panel-heading">@ViewBag.Title</div>
            <table style="visibility : @ViewBag.campus" class="table table-striped">
                <tr>
                    <th>
                        @if (Model.campussen[0].Naam != null)
                    {
                            @Html.DisplayNameFor(model => model.campussen[0].Naam);
                    }
                    </th>
                    <th>
                        @if (Model.campussen[0].Straat != null)
                    {
                            @Html.DisplayNameFor(model => model.campussen[0].Straat);
                    }
                    </th>
                    <th>
                        @if (Model.campussen[0].Nummer != null)
                    {
                            @Html.DisplayNameFor(model => model.campussen[0].Nummer);
                    }

                    </th>
                    <th>
                        @if (Model.campussen[0].Postcode != null)
                    {
                            @Html.DisplayNameFor(model => model.campussen[0].Postcode);
                    }
                    </th>
                </tr>


                @foreach (var item in Model.campussen)
                {
                    <tr>
                        <td>
                            @if (item.Naam != null)
                        {
                                @Html.DisplayFor(modelItem => item.Naam);
                        }

                        </td>
                        <td>
                            @if (item.Straat != null)
                        {
                                @Html.DisplayFor(modelItem => item.Straat);
                        }

                        </td>
                        <td>
                            @if (item.Nummer != null)
                        {
                                @Html.DisplayFor(modelItem => item.Nummer);
                        }

                        </td>
                        <td>
                            @if (item.Postcode != null)
                        {
                                @Html.DisplayFor(modelItem => item.Postcode);
                        }

                        </td>
                    </tr>
                }


            </table>
        </div>
    }
}
<div style="visibility : @ViewBag.stijlStapOpslaan">

    @using (Html.BeginForm("StapOpslaan", "RapporteringCampus"))
    {
        @Html.Hidden("kolomnaam", (string)@ViewBag.kolomnamen)
        @Html.Hidden("query", (string)@ViewBag.query)
        <p> stap 3 wilt u de informatie uit tabel CPU opslaan als pdf of excel</p>
        <button name="opslaan" type="submit" value="OpslaanExcel">Opslaan als excel</button>
        <button name="opslaan" type="submit" value="OpslaanPdf">Opslaan als Pdf</button>
    }
</div>
