@model CvoInventarisClient.Models.LokaalModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Delete";
}

<h2>Delete Lokaal</h2>

<h3>Are you sure you want to delete this?</h3>

<div>
    @using (Html.BeginForm("deleteLokaal", "Lokaal"))
    {
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.IdLokaal)

        <h4>TblLokaal</h4>
        <hr />

        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.LokaalNaam)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.LokaalNaam)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.AantalPlaatsen)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.AantalPlaatsen)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.IsComputerLokaal)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.IsComputerLokaal)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Netwerk)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Netwerk)
            </dd>
        </dl>

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
