@model CvoInventarisClient.Models.LokaalModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TblLokaal</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LokaalNaam)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LokaalNaam)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AantalPlaatsen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AantalPlaatsen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsComputerLokaal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsComputerLokaal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Netwerk.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Netwerk.Id)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Update", new { id = Model.IdLokaal }) |
    @Html.ActionLink("Back to List", "Index")
</p>

