@model CvoInventarisClient.Models.LokaalModel

@{
    ViewBag.Title = "Lokaal - Edit";
}

@using (Html.BeginForm("Edit", "Lokaal"))
{
    <div class="panel panel-primary">
        <div class="panel-heading">@ViewBag.Title</div>
        <div class="container-fluid">
            @Html.Hidden("idLokaal", Model.IdLokaal)
            <div class="form-group">
                @Html.DisplayNameFor(model => model.LokaalNaam)
                <input class="form-control" maxlength="50" type="text" name="lokaalNaam" value="@Model.LokaalNaam" required/>
            </div>
            <div class="form-group">
                @Html.DisplayNameFor(model => model.AantalPlaatsen)
                <input class="form-control" type="text" name="aantalPlaatsen" value="@Model.AantalPlaatsen" required/>
            </div>
            <div class="checkbox">
                <label><input type="checkbox" name="isComputerLokaal" value="True"/>@Html.DisplayNameFor(model => model.IsComputerLokaal)</label>
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Pas lokaal aan</button>
    @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-default" })
}

