@model CvoInventarisClient.Models.LokaalViewModel

@{
    ViewBag.Title = "Lokaal - Aanpassen";
}

<div class="col-sm-8">
    <div class="panel panel-primary">
        <div class="panel-heading">Aanpassen</div>
        <div class="container-fluid">
            @using (Html.BeginForm("Edit", "Lokaal"))
            {
                @Html.Hidden("idLokaal", Model.Lokalen[0].Id)

                <div class="form-horizontal">

                    <div class="form-group">
                        <label for="lokaalNaam" class="col-sm-3 control-label">Lokaal naam</label>
                        <div class="col-sm-9">
                            <input class="form-control" value="@Model.Lokalen[0].LokaalNaam" maxlength="50" type="text" name="lokaalNaam" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="aantalPlaatsen" class="col-sm-3 control-label">Aantal plaatsen</label>
                        <div class="col-sm-9">
                            <input class="form-control" value="@Model.Lokalen[0].AantalPlaatsen" maxlength="50" type="text" name="aantalPlaatsen" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="isComputerLokaal" class="col-sm-3 control-label">Computerlokaal</label>
                        <div class="col-sm-9">
                            @if (Model.Lokalen[0].IsComputerLokaal)
                            {
                                <input type="checkbox" name="isComputerLokaal" checked="checked" value="True" />
                            }
                            else
                            {
                                <input type="checkbox" name="isComputerLokaal" value="True" />
                            }
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="campussen" class="col-sm-3 control-label">Campus</label>
                        <div class="col-sm-9">
                            <select class="form-control" name="campussen">
                                <option value="@Model.Lokalen[0].Campus.Id">@Model.Lokalen[0].Campus.Naam</option>
                                @foreach (var item in Model.Campussen)
                                {
                                    <option value="@item.Value">@item.Text</option>
                                }
                            </select>
                        </div>
                    </div>

                </div>
                <button type="submit" class="btn btn-primary pull-right" style="margin-left: 5px">Pas aan</button>
                @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-default pull-right" })
            }
        </div>
    </div>
</div>

