@model IEnumerable<CvoInventarisClient.Models.LokaalModel>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<br />

<div>
    @Html.ActionLink("Create New", "Insert", "Lokaal")
</div>

<br />
<br />

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IdLokaal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LokaalNaam)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AantalPlaatsen)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsComputerLokaal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Netwerk)
        </th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IdLokaal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LokaalNaam)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AantalPlaatsen)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsComputerLokaal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Netwerk)
        </td>
        <td>
            @Html.ActionLink("Edit", "Update", new { id = item.IdLokaal }) |
            @Html.ActionLink("Details", "Details", new { id = item.IdLokaal }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.IdLokaal })
        </td>
    </tr>
}
</table>

