@model CvoInventarisClient.Models.LokaalViewModel

@{
    ViewBag.Title = "Lokalen";
}

<script src="~/Scripts/jquery-1.9.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>

@if (!String.IsNullOrWhiteSpace(ViewBag.action))
{
    <div class="alert alert-info alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        @ViewBag.action
    </div>
}
@using (Html.BeginForm("Delete", "Lokaal"))
{
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".nieuwModal">Nieuw</button>
    <button type="button" class="btn btn-danger" data-toggle="modal" data-target=".verwijderModal">Verwijder</button>

    <div class="input-group col-lg-4 pull-right">
        <span class="input-group-addon">Zoeken</span>
        <input id="filter" type="text" class="form-control">
    </div>

    <div class="spacer"></div>

    <div class="panel panel-primary">
        <div class="panel-heading">@ViewBag.Title</div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th></th>
                    <th></th>
                    <th>
                        @Html.DisplayNameFor(model => model.Lokaal[0].LokaalNaam)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Lokaal[0].AantalPlaatsen)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Lokaal[0].IsComputerLokaal)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Lokaal[0].Netwerk.Id)
                    </th>
                </tr>
            </thead>
            <tbody class="search">
                @foreach (var item in Model.Lokaal)
                {
                    <tr>
                        <td>
                            <input type="checkbox" name="idArray" value="@item.IdLokaal" />
                        </td>
                        <td>
                            <a class="bottom-align-text" href="@Url.Action("Edit", "Lokaal", new { id = item.IdLokaal })"><span class="glyphicon glyphicon-pencil"></span></a>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LokaalNaam)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AantalPlaatsen)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IsComputerLokaal)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Netwerk.Id)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
<!-- DELETE -->
<div class="modal fade verwijderModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <strong>Let op!</strong>
            </div>
            <div class="modal-body">
                Bent u zeker?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <input type="submit" name="Delete" value="Verwijder" class="btn btn-danger" />
            </div>
        </div>
    </div>
</div>

<!-- NIEUW -->
<div class="modal fade nieuwModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <strong>Vul in</strong>
            </div>
                @using (Html.BeginForm("Create", "Lokaal"))
                {
                    @Html.ValidationSummary()
                    <div class="modal-body">
                        <div class="form-group">
                            @Html.DisplayNameFor(model => model.Lokaal[0].LokaalNaam)
                            @Html.ValidationMessageFor(model => model.Lokaal[0].LokaalNaam)
                            <input class="form-control" type="text" name="lokaalNaam"/>
                        </div>
                        <div class="form-group">
                            @Html.DisplayNameFor(model => model.Lokaal[0].AantalPlaatsen)
                            @Html.ValidationMessageFor(model => model.Lokaal[0].AantalPlaatsen)
                            <input class="form-control" type="text" name="aantalPlaatsen"/>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox" name="isComputerLokaal" value="True"/>@Html.DisplayNameFor(model => model.Lokaal[0].IsComputerLokaal)</label>
                        </div>
                        <div class="form-group">
                            @Html.DisplayNameFor(model => model.Lokaal[0].Netwerk)
                            @Html.DropDownListFor(model => model.Netwerk, Model.Netwerk, "", new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Lokaal[0].Netwerk)
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Voeg toe aan lokaal</button>
                    </div>
                }
        </div>
    </div>
</div>
<script src="~/Scripts/Custom/Custom.js"></script>
