@model CvoInventarisClient.Models.LokaalModel

@{
    ViewBag.Title = "Update";
}

<h2>Update Harddisk</h2>

@using (Html.BeginForm("updateLokaal", "Lokaal"))
{
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.idLokaal)

    <table class="table" width="1000">
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.lokaalNaam)
            </td>
            <td>
                @Html.EditorFor(model => model.lokaalNaam)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.aantalPlaatsen)
            </td>
            <td>
                @Html.EditorFor(model => model.aantalPlaatsen)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.isComputerLokaal)
            </td>
            <td>
                @Html.EditorFor(model => model.isComputerLokaal)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.idNetwerk)
            </td>
            <td>
                @Html.EditorFor(model => model.idNetwerk)
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <input type="submit" value="Update" class="btn btn-default" />
            </td>
        </tr>
    </table>
}

<br />

<div>
    @Html.ActionLink("Back to Lokalen", "Index")
</div>
