@model CvoInventarisClient.Models.HarddiskModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TblHarddisk</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Merk)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Merk)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Grootte)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Grootte)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FabrieksNummer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FabrieksNummer)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Update", new { id = Model.IdHarddisk }) |
    @Html.ActionLink("Back to List", "Index")
</p>

