@model IEnumerable<CvoInventarisClient.Models.HarddiskModel>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<br />

<div>
    @Html.ActionLink("Create New", "Insert", "Harddisk", null, new { @class= "btn btn-default" })
</div>

<br />
<br />

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IdHarddisk)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Merk)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Grootte)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FabrieksNummer)
        </th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IdHarddisk)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Merk)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Grootte)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FabrieksNummer)
        </td>
        <td>
            @Html.ActionLink("Edit", "Update", new { id = item.IdHarddisk }) |
            @Html.ActionLink("Details", "Details", new { id = item.IdHarddisk }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.IdHarddisk })
        </td>
    </tr>
}
</table>

