@model CvoInventarisClient.ServiceReference.Netwerk

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TblNetwerk</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.driver)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.driver)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.merk)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.merk)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.snelheid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.snelheid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.type)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
