@model CvoInventarisClient.ServiceReference.Netwerk

@{
    ViewBag.Title = "Netwerk - Edit";
}

@using (Html.BeginForm("Edit", "Netwerk"))
{
    <div class="panel panel-primary">
        <div class="panel-heading">@ViewBag.Title</div>
        <div class="container-fluid">
            <div class="form-group">
                @Html.DisplayNameFor(model => model.Merk)
                <input class="form-control" type="text" name="merk" value="@Model.Merk" required />
            </div>
            <div class="form-group">
                @Html.DisplayNameFor(model => model.Driver)
                <input class="form-control" type="text" name="driver" value="@Model.Driver" required />
            </div>
            <div class="form-group">
                @Html.DisplayNameFor(model => model.Snelheid)
                <input class="form-control" type="text" name="snelheid" value="@Model.Snelheid" required />
            </div>
            <div class="form-group">
                @Html.DisplayNameFor(model => model.Type)
                <input class="form-control" type="text" name="type" value="@Model.Type" min="1" required />
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Pas netwerk aan</button>
    @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-default"})
}

