@model CvoInventarisClient.Models.TabelModel
@{
    ViewBag.Title = "Index";
}

<div style="visibility: @ViewBag.cpuConditie">
    <form action="/RapporteringCpu/Stap3Cpu" method="post">
        <p>stap 3 : Kies welke gegevens je uit de tabel Cpu wilt hebben</p>
        @Html.CheckBox("idCpu") idCpu
        @Html.CheckBox("merk") merk
        @Html.CheckBox("type") type
        @Html.CheckBox("snelheid") snelheid
        @Html.CheckBox("fabrieksnummer") fabrieksnummer
        <br />
        <br />
        <p>stap 4 : Kies welke conditie of condities u op de gegevens wilt toepassen</p>
        <br />
        @*dit zorgt ervoor dat de gebruker enkel een merk kan selecteren uit de database. waardoor je al zeker weet dat hij niets fout kan intypen*@
        <p>@Html.CheckBox("merkKeuzeCheck") merk = @Html.DropDownList("merken", "selecteer een merk")</p>
        <p>@Html.CheckBox("typeKeuzeCheck") type = @Html.DropDownList("types", "selecteer een type")</p>
        <p>
            @Html.CheckBox("snelheidKeuzeCheck") snelheid @Html.RadioButton("snelheidKeuze", ">") >
            @Html.RadioButton("snelheidKeuze", "<") <
            @Html.RadioButton("snelheidKeuze", "=") =
            @Html.RadioButton("snelheidKeuze", ">=") >=
            @Html.RadioButton("snelheidKeuze", "<=") <=
            @Html.TextBox("snelheidKeuze1")
        </p>
        <p>@Html.CheckBox("fabrieksnummerKeuzeCheck") fabrieksnummer = @Html.DropDownList("fabrieksNummers", "selecteer een fabrieksnummer")</p>
        <button name="action" type="submit" value="conditieKeuze/@ViewBag.resultaatCheck">klaar</button>
    </form>
</div>
@if (Model.cpus != null)
{
    <div class="panel panel-primary">
        <div class="panel-heading">@ViewBag.Title</div>
        <table style="visibility : @ViewBag.cpu" class="table table-striped">
            <tr>
                <th>
                    @if (Model.cpus[0].IdCpu != 0)
                    {
                        @Html.DisplayNameFor(model => model.cpus[0].IdCpu);
                    }
                </th>
                <th>
                    @if (Model.cpus[0].Merk != null)
                    {
                        @Html.DisplayNameFor(model => model.cpus[0].Snelheid);
                    }
                </th>
                <th>
                    @if (Model.cpus[0].Type != null)
                    {
                        @Html.DisplayNameFor(model => model.cpus[0].Merk);
                    }
                </th>
                <th>
                    @if (Model.cpus[0].Snelheid != 0)
                    {
                        @Html.DisplayNameFor(model => model.cpus[0].Type);
                    }

                </th>
                <th>
                    @if (Model.cpus[0].FabrieksNummer != null)
                    {
                        @Html.DisplayNameFor(model => model.cpus[0].FabrieksNummer);
                    }
                </th>
            </tr>


            @foreach (var item in Model.cpus)
            {
                <tr>
                    <td>
                        @if (item.IdCpu != 0)
                        {
                            @Html.DisplayFor(modelItem => item.IdCpu);
                        }

                    </td>
                    <td>
                        @if (item.Merk != null)
                        {
                            @Html.DisplayFor(modelItem => item.Merk);
                        }

                    </td>
                    <td>
                        @if (item.Type != null)
                        {
                            @Html.DisplayFor(modelItem => item.Type);
                        }

                    </td>
                    <td>
                        @if (item.Snelheid != 0)
                        {
                            @Html.DisplayFor(modelItem => item.Snelheid);
                        }

                    </td>
                    <td>
                        @if (item.FabrieksNummer != null)
                        {
                            @Html.DisplayFor(modelItem => item.FabrieksNummer);
                        }
                    </td>
                </tr>
            }


        </table>
    </div>
}
<div style="visibility : @ViewBag.stijlStapOpslaan">

    @using (Html.BeginForm("StapOpslaan", "RapporteringCpu"))
    {
        @Html.Hidden("kolomnaam", (string)@ViewBag.kolomnamen)
        @Html.Hidden("query", (string)@ViewBag.query)
        <p> stap 3 wilt u de informatie uit tabel CPU opslaan als pdf of excel</p>
        <button name="opslaan" type="submit" value="OpslaanExcel">Opslaan als excel</button>
            <button name="opslaan" type="submit" value="OpslaanPdf">Opslaan als Pdf</button>
    }
</div>
