@model CvoInventarisClient.ServiceReference.Inventaris

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>TblInventaris</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Aankoopjaar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Aankoopjaar)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Afschrijvingsperiode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Afschrijvingsperiode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Historiek)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Historiek)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdLokaal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdLokaal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdObject)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdObject)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdVerzekering)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdVerzekering)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsAanwezig)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsAanwezig)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsActief)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsActief)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Label)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Label)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
