@model CvoInventarisClient.Models.InventarisViewModel
@{
    ViewBag.Title = "Inventaris - Edit";
}

@using (Html.BeginForm("Edit", "Inventaris"))
{
    <div class="panel panel-primary">
        <div class="panel-heading">@ViewBag.Title</div>
        <div class="container-fluid">
            @Html.Hidden("idInventaris", Model.Inventaris[0].Id)
            @Html.Hidden("idObject", Model.Inventaris[0].Object.Id)
            @Html.Hidden("defaultIdLokaal", Model.Inventaris[0].Lokaal.IdLokaal)
            @Html.Hidden("defaultIdVerzekering", Model.Inventaris[0].Verzekering.IdVerzekering)
            <div class="form-group">
                @Html.DisplayNameFor(model => model.Inventaris[0].Object)
                <input class="form-control" type="text" disabled value="@Model.Inventaris[0].Object.Kenmerken" />
            </div>
            <div class="checkbox">
                <label><input type="checkbox" name="isAanwezig" value="True" />@Html.DisplayNameFor(model => model.Inventaris[0].IsAanwezig)</label>
            </div>
            <div class="checkbox">
                <label><input type="checkbox" name="isActief" value="True" />@Html.DisplayNameFor(model => model.Inventaris[0].IsActief)</label>
            </div>
            <div class="form-group">
                @Html.DisplayNameFor(model => model.Inventaris[0].Lokaal)
                @Html.DropDownListFor(model => model.Lokalen, Model.Lokalen,Model.Inventaris[0].Lokaal.LokaalNaam ,new { @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.DisplayNameFor(model => model.Inventaris[0].Historiek)
                <input class="form-control" type="text" name="historiek" required value="@Model.Inventaris[0].Historiek"/>
            </div>
            <div class="form-group">
                @Html.DisplayNameFor(model => model.Inventaris[0].Aankoopjaar)
                <input class="form-control" type="number" name="aankoopjaar" required value="@Model.Inventaris[0].Aankoopjaar"/>
            </div>
            <div class="form-group">
                @Html.DisplayNameFor(model => model.Inventaris[0].Afschrijvingsperiode)
                <input class="form-control" type="number" name="afschrijvingsperiode" required value="@Model.Inventaris[0].Afschrijvingsperiode"/>
            </div>
            <div class="form-group">
                @Html.DisplayNameFor(model => model.Inventaris[0].Verzekering)
                @Html.DropDownListFor(model => model.Verzekeringen, Model.Verzekeringen, Model.Inventaris[0].Verzekering.Omschrijving, new { @class = "form-control" })
            </div>     
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Pas netwerk aan</button>
    @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-default" })
}

