@model CvoInventarisClient.Models.InventarisViewModel
@{
    ViewBag.Title = "Inventaris - Edit";
}

@using (Html.BeginForm("Edit", "Inventaris"))
{
    <div class="panel panel-primary">
        <div class="panel-heading">@ViewBag.Title</div>
        <div class="container-fluid">
            @Html.Hidden("idInventaris", Model.Inventaris[0].Id)
            @Html.Hidden("idObject", Model.Inventaris[0].Object.Id)
            @Html.Hidden("defaultIdLokaal", Model.Inventaris[0].Lokaal.Id)
            @Html.Hidden("defaultIdVerzekering", Model.Inventaris[0].Verzekering.Id)
            <div class="form-group">
                @Html.DisplayNameFor(model => model.Inventaris[0].Object)
                <input class="form-control" type="text" disabled value="@Model.Inventaris[0].Object.Kenmerken" />
            </div>
            <div class="checkbox">
                @if (Model.Inventaris[0].IsAanwezig)
                {
                    <label><input type="checkbox" name="isAanwezig" checked="checked" />@Html.DisplayNameFor(model => model.Inventaris[0].IsAanwezig)</label>
                }
                else
                {
                    <label><input type="checkbox" name="isAanwezig" />@Html.DisplayNameFor(model => model.Inventaris[0].IsAanwezig)</label>
                }
            </div>
            <div class="checkbox">
                @if (Model.Inventaris[0].IsActief)
                {
                    <label><input type="checkbox" name="isActief" checked="checked" />@Html.DisplayNameFor(model => model.Inventaris[0].IsActief)</label>
                }
                else
                {
                    <label><input type="checkbox" name="isActief" />@Html.DisplayNameFor(model => model.Inventaris[0].IsActief)</label>
                }
            </div>
            <div class="form-group">
                @Html.DisplayNameFor(model => model.Inventaris[0].Lokaal)
                <select class="form-control" name="Lokalen">
                    <option value="@Model.Inventaris[0].Lokaal.Id">@Model.Inventaris[0].Lokaal.LokaalNaam</option>
                    @foreach (var item in Model.Lokalen)
                    {
                        if (item.Value != Model.Inventaris[0].Lokaal.Id.ToString())
                        {
                            <option value="@item.Value">@item.Text</option>
                        }
                    }
                </select>

            </div>
            <div class="form-group">
                @Html.DisplayNameFor(model => model.Inventaris[0].Historiek)
                <input class="form-control" type="text" name="historiek" maxlength="1024" required value="@Model.Inventaris[0].Historiek" />
            </div>
            <div class="form-group">
                @Html.DisplayNameFor(model => model.Inventaris[0].Aankoopjaar)
                <input class="form-control" type="number" name="aankoopjaar" required value="@Model.Inventaris[0].Aankoopjaar" />
            </div>
            <div class="form-group">
                @Html.DisplayNameFor(model => model.Inventaris[0].Afschrijvingsperiode)
                <input class="form-control" type="number" name="afschrijvingsperiode" required value="@Model.Inventaris[0].Afschrijvingsperiode" />
            </div>
            <div class="form-group">
                @Html.DisplayNameFor(model => model.Inventaris[0].Verzekering)
                <select class="form-control" name="Verzekeringen">
                    <option value="@Model.Inventaris[0].Verzekering.Id">@Model.Inventaris[0].Verzekering.Omschrijving</option>
                    @foreach (var item in Model.Verzekeringen)
                    {
                        if (item.Value != Model.Inventaris[0].Verzekering.Id.ToString())
                        {
                            <option value="@item.Value">@item.Text</option>
                        }
                    }
                </select>
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Pas inventaris aan</button>
    @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-default" })
}

