@model IEnumerable<CvoInventarisClient.ServiceReference.Inventaris>

@{
    ViewBag.Title = "Index";
}

<h2>@ViewBag.Test</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Aankoopjaar)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Afschrijvingsperiode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Historiek)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdLokaal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdObject)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdVerzekering)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsAanwezig)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsActief)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Label)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Aankoopjaar)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Afschrijvingsperiode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Historiek)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IdLokaal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IdObject)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IdVerzekering)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsAanwezig)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsActief)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Label)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
