@model CvoInventarisClient.Models.InventarisViewModel

@{
    ViewBag.Title = "Inventaris";
}
@if (!String.IsNullOrWhiteSpace(ViewBag.action))
{
    <div class="alert alert-info alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        @ViewBag.action
    </div>
}
@using (Html.BeginForm("Delete", "Inventaris"))
{
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".nieuwModal">Nieuw</button>
    <button type="button" class="btn btn-danger" data-toggle="modal" data-target=".verwijderModal">Verwijder</button>

    if (HttpContext.Current.Request.RequestContext.RouteData.Values["action"].ToString().ToLower().Equals("filter".ToLower()))
    {
        <a class="btn btn-danger pull-right" href="@Url.Action("Index", "Inventaris")">Verwijder filter</a>
    }
    else
    {
        <button type="button" class="btn btn-primary pull-right" data-toggle="modal" data-target=".filterModal"><span class="glyphicon glyphicon-search"></span></button>
    }

    <div class="spacer"></div>

    <div class="panel panel-primary">
        <div class="panel-heading">@ViewBag.Title</div>
        <table class="table table-striped dataTable">
            <thead>
                <tr>
                    <th></th>
                    <th></th>
                    <th>
                        @Html.DisplayNameFor(model => model.Inventaris[0].Label)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Inventaris[0].Object.Kenmerken)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Inventaris[0].IsAanwezig)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Inventaris[0].IsActief)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Inventaris[0].Lokaal.LokaalNaam)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Inventaris[0].Historiek)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Inventaris[0].Aankoopjaar)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Inventaris[0].Afschrijvingsperiode)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Inventaris[0].Verzekering.Omschrijving)
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Inventaris)
                {
                    <tr>
                        <td>
                            <input type="checkbox" name="idArray" value="@item.Id" />
                        </td>
                        <td>
                            <a class="bottom-align-text" href="@Url.Action("Edit", "Inventaris", new { id = item.Id })"><span class="glyphicon glyphicon-pencil"></span></a>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Label)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Object.Kenmerken)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IsAanwezig)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IsActief)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Lokaal.LokaalNaam)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Historiek)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Aankoopjaar)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Afschrijvingsperiode)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Verzekering.Omschrijving)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <!-- Delete modal -->
    <div class="modal fade verwijderModal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <strong>Let op!</strong>
                </div>
                <div class="modal-body">
                    Bent u zeker?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <input type="submit" name="Delete" value="Verwijder" class="btn btn-danger" />
                </div>
            </div>
        </div>
    </div>
}
<!-- nieuw modal -->
<div class="modal fade nieuwModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <strong>Vul in</strong>
            </div>
            @using (Html.BeginForm("Create", "Inventaris"))
            {
                <div class="modal-body">

                    <div class="form-group">
                        @Html.DisplayName("Reeks")
                        <select name="reeks" class="form-control" required>
                            <option value="05">05</option>
                            <option value="06">06</option>
                            <option value="07">07</option>
                        </select>
                    </div>

                    <div class="form-group">
                        @Html.DisplayName("Volgnummer")
                        <input class="form-control" type="number" name="volgnummer" min="1" max="9999" placeholder="0001-9999" required />
                    </div>

                    <div class="form-group">
                        @Html.DisplayNameFor(model => model.Inventaris[0].Object)
                        <select class="form-control" name="Objecten" required>
                            <option value="">-Selecteer-</option>
                            @foreach (var item in Model.Objecten)
                            {
                                <option value="@item.Value">@item.Text</option>
                            }
                        </select>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" name="isAanwezig" value="True" />@Html.DisplayNameFor(model => model.Inventaris[0].IsAanwezig)</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" name="isActief" value="True" />@Html.DisplayNameFor(model => model.Inventaris[0].IsActief)</label>
                    </div>
                    <div class="form-group">
                        @Html.DisplayNameFor(model => model.Inventaris[0].Lokaal)
                        <select class="form-control" name="Lokalen">
                            <option value="">-Selecteer-</option>
                            @foreach (var item in Model.Lokalen)
                            {
                                <option value="@item.Value">@item.Text</option>
                            }
                        </select>



                    </div>
                    <div class="form-group">
                        @Html.DisplayNameFor(model => model.Inventaris[0].Historiek)
                        <input class="form-control" type="text" maxlength="1024" name="historiek" required />
                    </div>
                    <div class="form-group">
                        @Html.DisplayNameFor(model => model.Inventaris[0].Aankoopjaar)
                        <input class="form-control" type="number" name="aankoopjaar" required />
                    </div>
                    <div class="form-group">
                        @Html.DisplayNameFor(model => model.Inventaris[0].Afschrijvingsperiode)
                        <input class="form-control" type="number" name="afschrijvingsperiode" required />
                    </div>
                    <div class="form-group">
                        @Html.DisplayNameFor(model => model.Inventaris[0].Verzekering)
                        <select class="form-control" name="Verzekeringen">
                            <option value="">-Selecteer-</option>
                            @foreach (var item in Model.Verzekeringen)
                            {
                                <option value="@item.Value">@item.Text</option>
                            }
                        </select>
                    </div>
                    <hr />
                    <div class="form-group">
                        @Html.Label("Aantal")
                        <input class="form-control" type="number" name="aantal" value="1" min="1" required />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Voeg toe aan inventaris</button>
                </div>
            }
        </div>
    </div>
</div>

<!-- Filter modal -->
<div class="modal fade filterModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <strong>nieuwe filter</strong>
            </div>
            @using (Html.BeginForm("Filter", "Inventaris"))
            {

                <div class="modal-body">
                    <div cclass="form-group">
                        <div class="form-group">
                            <label>Object:</label>
                            <select class="form-control" name="objectFilter">
                                <option value="-1">-Selecteer-</option>
                                @foreach (var item in Model.Objecten)
                                {
                                    <option value="@item.Value">@item.Text</option>
                                }
                            </select>
                        </div>

                        <div class="form-group">
                            <label>aanwezig:</label>

                            <select class="form-control" name="aanwezigFilter">
                                <option value="">-Selecteer-</option>
                                <option value="true">aanwezig</option>
                                <option value="false">niet aanwezig</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label>actief:</label>

                            <select class="form-control" name="actiefFilter">
                                <option value="">-Selecteer-</option>
                                <option value="true">actief</option>
                                <option value="false">niet actief</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label>Lokaal:</label>
                            <select class="form-control" name="lokaalFilter">
                                <option value="-1">-Selecteer-</option>
                                @foreach (var item in Model.Lokalen)
                                {
                                    <option value="@item.Value">@item.Text</option>
                                }
                            </select>
                        </div>

                        <div class="form-group">
                            <label>Historiek:</label>
                            <input class="form-control" type="text" name="historiekFilter" />
                        </div>


                        <div class="form-group">
                            <label>Aankoopjaar:</label>
                            <select class="form-control" name="filterAankoopjaarSecondary">
                                <option value="=">van</option>
                                <option value="<">voor</option>
                                <option value=">">na</option>
                            </select>
                            <input class="form-control" type="number" name="filterAankoopjaar" placeholder="jaar" />
                        </div>

                        <div class="form-group">
                            <label>Afschrijvingsperiode:</label>
                            <select class="form-control" name="filterAfschrijvingsperiodeSecondary">
                                <option value="=">van</option>
                                <option value="<">voor</option>
                                <option value=">">na</option>
                            </select>
                            <input class="form-control" type="number" name="filterAfschrijvingsperiode" placeholder="periode(in jaar)" />
                        </div>
                        <div class="form-group">
                            <label>Verzekering:</label>
                            <select class="form-control" name="verzekeringFilter">
                                <option value="-1">-Selecteer-</option>
                                @foreach (var item in Model.Verzekeringen)
                                {
                                    <option value="@item.Value">@item.Text</option>
                                }
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">filter</button>
                </div>
            }
        </div>
    </div>
</div>

@using (Html.BeginForm("Export", "Export"))
{
    //loop aanpassen naar model
    foreach (var item in Model.Inventaris)
    {
        <input type="hidden" name="modelList" value="@item.Id" />
    }
    <input type="hidden" name="type" value="@HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString()" />

    <button type="submit" name="exportType" value="pdf" class="btn btn-success">Export to PDF</button>
    //<button type="submit" name="exportType" value="excel" class="btn btn-success">Export to Excel</button>
}
