@model CvoInventarisClient.Models.InventarisViewModel

@{
    ViewBag.Title = "Inventaris";
}

@using (Html.BeginForm("Delete", "Inventaris"))
{

    <div class="panel panel-primary">
        <div class="panel-heading">Inventaris</div>
        <table class="table table-striped">
            <tr>
                <th></th>
                <th></th>
                <th>
                    @Html.DisplayNameFor(model => model.Inventaris[0].Label)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Inventaris[0].Object.Kenmerken)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Inventaris[0].Object.ObjectType.Omschrijving)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Inventaris[0].Lokaal.LokaalNaam)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Inventaris[0].IsAanwezig)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Inventaris[0].IsActief)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Inventaris[0].Verzekering.Omschrijving)
                </th>
            </tr>
            @foreach (var item in Model.Inventaris)
            {
                <tr>
                    <td>
                        <input type="checkbox" name="idArray" value="@item.Id" />
                    </td>
                    <td>
                        <a class="bottom-align-text" href="@Url.Action("Edit", "Inventaris", new { id = item.Id })"><span class="glyphicon glyphicon-pencil"></span></a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Label)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Object.Kenmerken)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Object.ObjectType.Omschrijving)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Lokaal.LokaalNaam)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsAanwezig)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsActief)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Verzekering.Omschrijving)
                    </td>
                </tr>
            }

        </table>
    </div>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".nieuwModal">Nieuw</button>
    <input type="submit" name="Delete" value="Verwijder" class="btn btn-danger" />
}
<!-- modal -->
<div class="modal fade nieuwModal" tabindex="-1" role="dialog" aria-labelledby="nieuwModalLabel">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <strong>Voeg toe..</strong>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("Create", "Inventaris"))
                {
                    <div class="form-group">
                        @Html.DisplayNameFor(model => model.Inventaris[0].Object)
                        <input class="form-control" type="text" name="Object" />
                    </div>
                    <div class="form-group">
                        @Html.DisplayNameFor(model => model.Inventaris[0].Label)
                        <input class="form-control" type="text" name="Label" />
                    </div>
                    <div class="form-group">
                        @Html.DisplayNameFor(model => model.Inventaris[0].Lokaal)
                        <input class="form-control" type="text" name="Lokaal" />
                    </div>
                    <div class="form-group">
                        @Html.DisplayNameFor(model => model.Inventaris[0].Verzekering)
                        <input class="form-control" type="text" name="Verzekering" />
                    </div>
                    <div class="form-group">
                        @Html.DisplayNameFor(model => model.Inventaris[0].IsAanwezig)
                        <input class="form-control" type="text" name="Aanwezig" />
                    </div>
                    <div class="form-group">
                        @Html.DisplayNameFor(model => model.Inventaris[0].IsActief)
                        <input class="form-control" type="text" name="Actief" />
                    </div>

                    <button type="submit" class="btn btn-primary">Submit</button>
                }
            </div>
        </div>
    </div>
</div>