@{
    Layout = null;
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <h1>Rapportering</h1>
    <p>Stap 1 : Uit welke tabel wilt u gegevens halen ?</p>
    <form action="/Rapportering/Stap1" method="post">
        <select disabled id="stap1" name="stap1">
            <option value="device">Apparaat</option>
        </select>
        <p>Stap 2 : Wilt u al de gegevens uit de tabel of enkel bepaalde gegevens</p>
        <button disabled name="action" type="submit" value="stap2ZonderConditie">Alle gegevens</button>
        <button disabled name="action" type="submit" value="stap2Conditie">bepaalde gegevens</button>
    </form>
    <form action="/Rapportering/Stap3Device" method="post">
        <p>stap 3 : Kies welke gegevens je uit de tabel Cpu wilt hebben</p>
        @Html.CheckBox("idDevice") id apparaat
        @Html.CheckBox("merk") merk
        @Html.CheckBox("type") type
        @Html.CheckBox("serienummer") serienummmer
        @Html.CheckBox("isPcCompatibel") pc compatibel
        @Html.CheckBox("fabrieksnummer") fabrieksnummer
        <button name="action" type="submit" value="kolomKeuze">klaar</button>
        <div style="display : @ViewBag.styleCpuStap4">
            <p>stap 4 : Kies welke conditie of condities u op de gegevens @ViewBag.resultaatCheck wilt toepassen</p>
            <p>@Html.CheckBox("merkKeuzeCheck") merk = @Html.TextBox("merkKeuzeTekst")</p>
            <p>@Html.CheckBox("typeKeuzeCheck") type = @Html.TextBox("typeKeuzeTekst")</p>
            <p>@Html.CheckBox("serienummerKeuzeCheck") serienummer = @Html.TextBox("serienummerKeuzeTekst")</p>
            <p>
                @Html.CheckBox("isPcCompatibelKeuzeCheck") pc compatibel @Html.RadioButton("isPcCompatibelKeuze", "1") waar
                @Html.RadioButton("isPcCompatibelKeuze", "0") niet waar
            </p>
            <p>@Html.CheckBox("fabrieksNummerKeuzeCheck") fabrieksnummer = @Html.TextBox("fabrieksNummerKeuzeTekst")</p>
            <button name="action" type="submit" value="conditieKeuze/@ViewBag.resultaatCheck">klaar</button>
        </div>
        <div style="display : @ViewBag.styleCpuStap5">
            @if (ViewBag.Rapport != null)
            {
                <table>
                    <tr>
                        <td>@ViewBag.test</td>
                        <td>@ViewBag.test1</td>
                        <td>@ViewBag.test2</td>
                        <td>@ViewBag.test3</td>
                        <td>@ViewBag.test4</td>
                        <td>@ViewBag.test5</td>
                    </tr>
                    @foreach (var item in ViewBag.Rapport)
                    {
                        <tr>
                            @if (@item.IdDevice != 0)
                            {
                                <td>@item.IdDevice</td> }
                            @if (@item.Merk != null)
                            {
                                <td>@item.Merk</td>
                            }
                            @if (@item.Type != null)
                            {
                                <td>@item.Type</td>
                            }
                            @if (@item.Serienummer != null)
                            {
                                <td>@item.Serienummer</td>
                            }
                            @if (@item.IsPcCompatibel != null)
                            {
                                <td>@item.Serienummer</td>
                            }
                            @if (@item.FabrieksNummer != null)
                            {
                                <td>@item.FabrieksNummer</td>
                            }
                        </tr>
                    }
                </table>
                    @Html.Hidden("query", (string)@ViewBag.query)
                    @Html.Hidden("tables", (string)@ViewBag.tables)
                    <p> stap 3 wilt u de informatie uit tabel CPU opslaan als pdf of excel</p>
                    <button type="submit" value="OpslaanExcel">Opslaan als excel</button>
                    <button name="action" type="submit" value="OpslaanPdf/@ViewBag.query/@ViewBag.tables">opslaan als pdf</button>
            }
        </div>
    </form>


</body>
</html>

