@{
    Layout = null;
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <h1>Rapportering</h1>
    <p>Stap 1 : Uit welke tabel wilt u gegevens halen ?</p>
    <form action="/Rapportering/Stap1" method="post">
        <select disabled id="stap1" name="stap1">
            <option value="factuur">Factuur</option>
        </select>
        <p>Stap 2 : Wilt u al de gegevens uit de tabel of enkel bepaalde gegevens</p>
        <button disabled name="action" type="submit" value="stap2ZonderConditie">Alle gegevens</button>
        <button disabled name="action" type="submit" value="stap2Conditie">bepaalde gegevens</button>
    </form>
    <form action="/Rapportering/Stap3Factuur" method="post">
        <p>stap 3 : Kies welke gegevens je uit de tabel Factuur wilt hebben</p>
        @Html.CheckBox("TblFactuur.idFactuur") idFactuur
        @Html.CheckBox("TblFactuur.Boekjaar") boekjaar
        @Html.CheckBox("TblFactuur.CvoVolgNummer") cvo volgnummer
        @Html.CheckBox("TblFactuur.FactuurNummer") factuurnummer
        @Html.CheckBox("TblFactuur.FactuurDatum") factuur datum
        @Html.CheckBox("TblFactuur.FactuurStatusGetekend") factuur status getekend
        @Html.CheckBox("TblFactuur.VerwerkingsDatum") verwerkingsdatum
        @Html.CheckBox("TblLeverancier.naam") leverancier
        @Html.CheckBox("TblFactuur.Prijs") prijs
        @Html.CheckBox("TblFactuur.Garantie") garantie
        @Html.CheckBox("TblFactuur.Omschrijving") omschrijving
        @Html.CheckBox("TblFactuur.Opmerking") opmerking
        @Html.CheckBox("TblFactuur.Afschrijfperiode") afschrijfperiode
        @Html.CheckBox("TblFactuur.OleDoc") oledoc
        @Html.CheckBox("TblFactuur.OleDocPath") oledoc path
        @Html.CheckBox("TblFactuur.OleDocFileName") oledoc filename
        @Html.CheckBox("TblFactuur.DatumInsert") datum toegevoegd
        @Html.CheckBox("TblFactuur.UserInsert") gebruiker toegevoegd
        @Html.CheckBox("TblFactuur.DatumModified") datum aangepast
        @Html.CheckBox("TblFactuur.UserModified") gebruiker aangepast

        <button name="action" type="submit" value="kolomKeuze">klaar</button>
        <div style="display : @ViewBag.styleFactuurStap4">
            <p>stap 4 : Kies welke conditie of condities u op de gegevens @ViewBag.resultaatCheck wilt toepassen</p>
            <p>@Html.CheckBox("boekjaarKeuzeCheck") boekjaar = @Html.TextBox("boekjaarKeuzeTekst")</p>
            <p>@Html.CheckBox("cvoVolgNummerKeuzeCheck") cvo volgnummer = @Html.TextBox("cvoVolgNummerKeuzeTekst")</p>
            <p>@Html.CheckBox("factuurnummerKeuzeCheck") factuurnummer = @Html.TextBox("factuurNummerKeuzeTekst")</p>
            <p>@Html.CheckBox("factuurDatumKeuzeCheck") factuur datum = @Html.TextBox("factuurDatumKeuzeTekst")</p>
            <p>@Html.CheckBox("factuurStatusGetekendKeuzeCheck") factuur status getekend = @Html.TextBox("factuurStatusGetekendKeuzeTekst")</p>
            <p>@Html.CheckBox("verwerkingsdatumKeuzeCheck") verwerkingsdatum = @Html.TextBox("verwerkingsdatumKeuzeTekst")</p>
            <p>@Html.CheckBox("leverancierNaamKeuzeCheck") leverancier = @Html.TextBox("leverancierNaamKeuzeTekst")</p>
            <p>
                @Html.CheckBox("prijsKeuzeCheck") snelheid @Html.RadioButton("prijsKeuze", ">") >
                @Html.RadioButton("prijsKeuze", "<") <
                @Html.RadioButton("prijsKeuze", "=") =
                @Html.RadioButton("prijsKeuze", ">=") >=
                @Html.RadioButton("prijsKeuze", "<=") <=
                @Html.TextBox("prijsKeuze1")
            </p>
            <p>@Html.CheckBox("garantieKeuzeCheck") garantie = @Html.TextBox("garantieKeuzeTekst")</p>
            <p>@Html.CheckBox("omschrijvingKeuzeCheck") omschrijving = @Html.TextBox("omschrijvingKeuzeTekst")</p>
            <p>@Html.CheckBox("opmerkingKeuzeCheck") opmerking = @Html.TextBox("opmerkingKeuzeTekst")</p>
            <p>@Html.CheckBox("afschrijfperiodeKeuzeCheck") afschrijfperiode = @Html.TextBox("afschrijfperiodeKeuzeTekst")</p>
            <p>@Html.CheckBox("oleDocKeuzeCheck") ole doc = @Html.TextBox("oleDocKeuzeTekst")</p>
            <p>@Html.CheckBox("oleDocPathKeuzeCheck") ole doc path = @Html.TextBox("oleDocPathKeuzeTekst")</p>
            <p>@Html.CheckBox("oleDocFileNameKeuzeCheck") ole doc filename = @Html.TextBox("oleDocFileNameKeuzeTekst")</p>
            <p>@Html.CheckBox("datumInsertKeuzeCheck") datum toegevoegd = @Html.TextBox("datumInsertKeuzeTekst")</p>
            <p>@Html.CheckBox("userInsertKeuzeCheck") gebruiker toegevoegd = @Html.TextBox("userInsertKeuzeTekst")</p>
            <p>@Html.CheckBox("datumModifiedKeuzeCheck") datum aangepast = @Html.TextBox("datumModifiedKeuzeTekst")</p>
            <p>@Html.CheckBox("userModifiedKeuzeCheck") gebruiker aangepast = @Html.TextBox("userModifiedKeuzeTekst")</p>

            <button name="action" type="submit" value="conditieKeuze/@ViewBag.resultaatCheck">klaar</button>
        </div>
        <div style="display : @ViewBag.styleFactuurStap5">
            @if (ViewBag.Rapport != null)
            {
                <table>
                    <tr>
                        <td>@ViewBag.test</td>
                        <td>@ViewBag.test1</td>
                        <td>@ViewBag.test2</td>
                        <td>@ViewBag.test3</td>
                        <td>@ViewBag.test4</td>
                        <td>@ViewBag.test5</td>
                        <td>@ViewBag.test6</td>
                        <td>@ViewBag.test7</td>
                        <td>@ViewBag.test8</td>
                        <td>@ViewBag.test9</td>
                        <td>@ViewBag.test9</td>
                        <td>@ViewBag.test10</td>
                        <td>@ViewBag.test11</td>
                        <td>@ViewBag.test12</td>
                        <td>@ViewBag.test13</td>
                        <td>@ViewBag.test14</td>
                        <td>@ViewBag.test15</td>
                        <td>@ViewBag.test16</td>
                        <td>@ViewBag.test17</td>
                        <td>@ViewBag.test18</td>
                    </tr>
                    @foreach (var item in ViewBag.Rapport)
                    {
                        <tr>
                            @if (@item.IdFactuur != 0)
                            {
                                <td>@item.IdFactuur</td> }
                            @if (@item.Boekjaar != null)
                            {
                                <td>@item.Boekjaar</td>
                            }
                            @if (@item.CvoVolgNummer != null)
                            {
                                <td>@item.CvoVolgNummer</td>
                            }
                            @if (@item.FactuurNummer != null)
                            {
                                <td>@item.FactuurNummer</td>
                            }
                            @if (@item.FactuurDatum != new DateTime(0001, 01, 1).Add(new TimeSpan(0, 00, 00)))
                            {
                                <td>@item.FactuurDatum</td>
                            }
                            @if (@item.FactuurStatusGetekend != null)
                            {
                                <td>@item.FactuurStatusGetekend</td> }
                            @if (@item.VerwerkingsDatum != new DateTime(0001, 01, 1).Add(new TimeSpan(0, 00, 00)))
                            {
                                <td>@item.VerwerkingsDatum</td>
                            }
                            @if (@item.Leverancier.Naam != null)
                            {
                                <td>@item.Leverancier.Naam</td>
                            }
                            @if (@item.Prijs != 0)
                            {
                                <td>@item.Prijs</td>
                            }
                            @if (@item.Garantie != 0)
                            {
                                <td>@item.Garantie</td>
                            }
                            @if (@item.Omschrijving != null)
                            {
                                <td>@item.Omschrijving</td> }
                            @if (@item.Opmerking != null)
                            {
                                <td>@item.Opmerking</td>
                            }
                            @if (@item.Afschrijfperiode != 0)
                            {
                                <td>@item.Afschrijfperiode</td>
                            }
                            @if (@item.OleDoc != null)
                            {
                                <td>@item.OleDoc</td>
                            }
                            @if (@item.OleDocPath != null)
                            {
                                <td>@item.OleDocPath</td>
                            }
                            @if (@item.OleDocFileName != null)
                            {
                                <td>@item.OleDocFileName</td> }
                            @if (@item.DatumInsert != new DateTime(0001, 01, 1).Add(new TimeSpan(0, 00, 00)))
                            {
                                <td>@item.DatumInsert</td>
                            }
                            @if (@item.UserInsert != null)
                            {
                                <td>@item.UserInsert</td>
                            }
                            @if (@item.DatumModified != new DateTime(0001, 01, 1).Add(new TimeSpan(0, 00, 00)))
                            {
                                <td>@item.DatumModified</td>
                            }
                            @if (@item.UserModified != null)
                            {
                                <td>@item.UserModified</td>
                            }
                        </tr>
                    }
                </table>
                    @Html.Hidden("query", (string)@ViewBag.query)
                    @Html.Hidden("tables", (string)@ViewBag.tables)
                    <p> stap 3 wilt u de informatie uit tabel CPU opslaan als pdf of excel</p>
                    <button name="action" type="submit" value="OpslaanExcel/@ViewBag.query/@ViewBag.tables">Opslaan als excel</button>
                    <button name="action" type="submit" value="OpslaanPdf/@ViewBag.query/@ViewBag.tables">opslaan als pdf</button>
            }
        </div>
    </form>


</body>
</html>
