@{
    Layout = null;
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <h1>Rapportering</h1>
    <p>Stap 1 : Uit welke tabel wilt u gegevens halen ?</p>
    <form action="/Rapportering/Stap1" method="post">
        <select disabled id="stap1" name="stap1">
            <option value="hardware">hardware</option>
        </select>
        <p>Stap 2 : Wilt u al de gegevens uit de tabel of enkel bepaalde gegevens</p>
        <button disabled name="action" type="submit" value="stap2ZonderConditie">Alle gegevens</button>
        <button disabled name="action" type="submit" value="stap2Conditie">bepaalde gegevens</button>
    </form>
    <form action="/Rapportering/Stap3Hardware" method="post">
        <p>stap 3 : Kies welke gegevens je uit de tabel Cpu wilt hebben</p>
        @Html.CheckBox("TblHardware.idHardware") id hardware
        @Html.CheckBox("TblCpu.merk") cpu
        @Html.CheckBox("TblDevice.merk") apparaat
        @Html.CheckBox("TblGrafischeKaart.merk") grafische kaart
        @Html.CheckBox("TblHarddisk.merk") harddisk
        <button name="action" type="submit" value="kolomKeuze">klaar</button>
        <div style="display : @ViewBag.styleLokaalStap4">
            <p>stap 4 : Kies welke conditie of condities u op de gegevens @ViewBag.resultaatCheck wilt toepassen</p>
            <p>@Html.CheckBox("cpuMerkKeuzeCheck") cpu = @Html.DropDownList("cpus", "selecteer een cpu")</p>
            <p>@Html.CheckBox("deviceMerkKeuzeCheck") apparaat = @Html.DropDownList("devices", "selecteer een apparaat")</p>
            <p>@Html.CheckBox("grafischeKaartKeuzeCheck") grafische kaart = @Html.DropDownList("grafischeKaarten", "selecteer een grafische kaart")</p>
            <p>@Html.CheckBox("harddiskMerkKeuzeCheck") harddisk = @Html.DropDownList("harddisks", "selecteer een harddisk")</p>
            <button name="action" type="submit" value="conditieKeuze/@ViewBag.resultaatCheck">klaar</button>
        </div>
        <div style="display : @ViewBag.styleLokaalStap5">
            @if (ViewBag.Rapport != null)
            {
                <table>
                    <tr>
                        <td>@ViewBag.test</td>
                        <td>@ViewBag.test1</td>
                        <td>@ViewBag.test2</td>
                        <td>@ViewBag.test3</td>
                        <td>@ViewBag.test4</td>
                    </tr>
                    @foreach (var item in ViewBag.Rapport)
                    {
                        <tr>
                            @if (@item.Id != 0)
                            {
                                <td>@item.Id</td> }
                            @if (@item.Cpu.Merk != null)
                            {
                                <td>@item.Cpu.Merk</td>
                            }
                            @if (@item.Device.Merk != null)
                            {
                                <td>@item.Device.Merk</td>
                            }
                            @if (@item.GrafischeKaart.Merk != null)
                            {
                                <td>@item.GraischeKaart.Merk</td>
                            }
                            @if (@item.Harddisk.Merk != null)
                            {
                                <td>@item.Harddisk.Merk</td>
                            }
                        </tr>
                    }
                </table>
                @Html.Hidden("query", (string)@ViewBag.query)
                @Html.Hidden("tables", (string)@ViewBag.tables)
                <p> stap 3 wilt u de informatie uit tabel CPU opslaan als pdf of excel</p>
                <button name="action" type="submit" value="OpslaanExcel/@ViewBag.query/@ViewBag.tables">Opslaan als excel</button>
                    <button name="action" type="submit" value="OpslaanPdf/@ViewBag.query/@ViewBag.tables">opslaan als pdf</button>
            }
        </div>
        @ViewBag.query
    </form>


</body>
</html>
