@model CvoInventarisClient.Models.TabelModel
@{
    ViewBag.Title = "Index";
    string selectie = ViewBag.tabelkeuze;
}
@if (!String.IsNullOrWhiteSpace(ViewBag.action))
{
    <div class="alert alert-info alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        @ViewBag.action
    </div>
}

@using (Html.BeginForm("Stap1", "Rapportering"))
{
    @Html.DropDownList("tabelkeuzes", (IEnumerable<SelectListItem>)ViewBag.tabelKeuzes, (ViewBag.tabelkeuze == null ? "Selecteer" : selectie), new { onchange = "$(this).parent('form:first').submit();", @class = "form-control" })
}
<div class="spacer"></div>
<div style="visibility : @ViewBag.stijlStap2">

    @using (Html.BeginForm("stap2", "Rapportering"))
    {
        <div class="text-center">
            <input class="btn btn-primary" name="submit" type="submit" id="alleGegevens" value="alle gegevens van de tabel : @ViewBag.tabelkeuze" />
            <input class="btn btn-primary" name="submit" type="submit" id="conditieGegevens" value="bepaalde conditie van de tabel : @ViewBag.tabelkeuze" />
        </div>
    }

</div>
<div class="spacer"></div>
@if (Model.cpus != null)
{
    <div class="panel panel-primary">
        <div class="panel-heading">@selectie</div>
        <table style="visibility : @ViewBag.cpu" class="table table-striped">

            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.cpus[0].IdCpu)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.cpus[0].Merk)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.cpus[0].Type)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.cpus[0].Snelheid)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.cpus[0].FabrieksNummer)
                </th>
            </tr>


            @foreach (var item in Model.cpus)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdCpu)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Merk)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Type)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Snelheid)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FabrieksNummer)
                    </td>
                </tr>
            }


        </table>
    </div>
}
@if (Model.hardwares != null)
{
    <div class="panel panel-primary">
        <div class="panel-heading">@selectie</div>
        <table class="table table-striped">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.hardwares[0].IdHardware)
                </th>
                <th>
                    Cpu
                </th>
                <th>
                    Apparaat
                </th>
                <th>
                    Grafische kaart
                </th>
                <th>
                    Harddisk
                </th>
            </tr>

            @foreach (var item in Model.hardwares)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdHardware)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cpu.Merk)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Device.Merk)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.GrafischeKaart.Merk)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Harddisk.Merk)
                    </td>
                </tr>
            }
        </table>
    </div>
}

@if (Model.verzekeringen != null)
{
    <div class="panel panel-primary">
        <div class="panel-heading">@selectie</div>
        <table class="table table-striped">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.verzekeringen[0].IdVerzekering)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.verzekeringen[0].Omschrijving)
                </th>
            </tr>

            @foreach (var item in Model.verzekeringen)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdVerzekering)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Omschrijving)
                    </td>
                </tr>
            }
        </table>
    </div>
}

@if (Model.objectTypes != null)
{
    <div class="panel panel-primary">
        <div class="panel-heading">@selectie</div>
        <table class="table table-striped">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.objectTypes[0].IdObjectType)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.objectTypes[0].Omschrijving)
                </th>
            </tr>

            @foreach (var item in Model.objectTypes)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdObjectType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Omschrijving)
                    </td>
                </tr>
            }
        </table>
    </div>
}
@if (Model.campussen != null)
{
    <div class="panel panel-primary">
        <div class="panel-heading">@selectie</div>
        <table class="table table-striped">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.campussen[0].Naam)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.campussen[0].Postcode)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.campussen[0].Straat)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.campussen[0].Nummer)
                </th>
            </tr>

            @foreach (var item in Model.campussen)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Naam)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Postcode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Straat)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nummer)
                    </td>
                </tr>
            }
        </table>
    </div>
}
@if (Model.lokalen != null)
{
    <div class="panel panel-primary">
        <div class="panel-heading">@selectie</div>
        <table class="table table-striped">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.lokalen[0].LokaalNaam)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.lokalen[0].AantalPlaatsen)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.lokalen[0].IsComputerLokaal)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.lokalen[0].Campus)
                </th>
            </tr>

            @foreach (var item in Model.lokalen)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.LokaalNaam)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AantalPlaatsen)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsComputerLokaal)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Campus.Naam)
                    </td>
                </tr>
            }
        </table>
    </div>
}
@if (Model.facturen != null)
{
    <div class="panel panel-primary">
        <div class="panel-heading">@selectie</div>
        <table class="table table-striped">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.facturen[0].Boekjaar)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.facturen[0].CvoVolgNummer)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.facturen[0].FactuurNummer)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.facturen[0].ScholengroepNummer)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.facturen[0].FactuurDatum)
                </th>
                <th>
                    Leverancier
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.facturen[0].Prijs)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.facturen[0].Garantie)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.facturen[0].Omschrijving)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.facturen[0].Opmerking)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.facturen[0].Afschrijfperiode)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.facturen[0].DatumInsert)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.facturen[0].UserInsert)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.facturen[0].DatumModified)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.facturen[0].UserModified)
                </th>
            </tr>

            @foreach (var item in Model.facturen)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Boekjaar)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CvoVolgNummer)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FactuurNummer)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ScholengroepNummer)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FactuurDatum)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Leverancier.Naam)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Prijs)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Garantie)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Omschrijving)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Opmerking)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Afschrijfperiode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DatumInsert)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserInsert)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DatumModified)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserModified)
                    </td>
                </tr>
            }
        </table>
    </div>
}

@if (Model.leveranciers != null)
{
    <div class="panel panel-primary">
        <div class="panel-heading">@selectie</div>
        <table class="table table-striped">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.leveranciers[0].Naam)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.leveranciers[0].Afkorting)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.leveranciers[0].Straat)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.leveranciers[0].HuisNummer)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.leveranciers[0].BusNummer)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.leveranciers[0].Postcode)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.leveranciers[0].Telefoon)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.leveranciers[0].Fax)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.leveranciers[0].Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.leveranciers[0].Website)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.leveranciers[0].BtwNummer)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.leveranciers[0].Iban)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.leveranciers[0].Bic)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.leveranciers[0].ToegevoegdOp)
                </th>
            </tr>

            @foreach (var item in Model.leveranciers)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Naam)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Afkorting)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Straat)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.HuisNummer)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BusNummer)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Postcode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Telefoon)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Fax)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Website)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BtwNummer)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Iban)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Bic)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ToegevoegdOp)
                    </td>
                </tr>
            }
        </table>
    </div>
}
@if (Model.objecten != null)
{
    <div class="panel panel-primary">
        <div class="panel-heading">@selectie</div>
        <table class="table table-striped">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.objecten[0].Kenmerken)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.objecten[0].Factuur.FactuurNummer)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.objecten[0].ObjectType.Omschrijving)
                </th>
            </tr>

            @foreach (var item in Model.objecten)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Kenmerken)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Factuur.FactuurNummer)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ObjectType.Omschrijving)
                    </td>
                </tr>
            }
        </table>
    </div>
}

@if (Model.inventarissen != null)
{
    <div class="panel panel-primary">
        <div class="panel-heading">@selectie</div>
        <table class="table table-striped">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.inventarissen[0].Label)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.inventarissen[0].Object.Kenmerken)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.inventarissen[0].IsAanwezig)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.inventarissen[0].IsActief)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.inventarissen[0].Lokaal.LokaalNaam)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.inventarissen[0].Historiek)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.inventarissen[0].Aankoopjaar)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.inventarissen[0].Afschrijvingsperiode)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.inventarissen[0].Verzekering.Omschrijving)
                </th>
            </tr>

            @foreach (var item in Model.inventarissen)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Label)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Object.Kenmerken)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsAanwezig)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsActief)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Lokaal.LokaalNaam)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Historiek)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Aankoopjaar)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Afschrijvingsperiode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Verzekering.Omschrijving)
                    </td>
                </tr>
            }
        </table>
    </div>
}

<div style="visibility : @ViewBag.stijlStapOpslaan">

    @using (Html.BeginForm("StapOpslaan", "Rapportering"))
    {
        @Html.Hidden("tabelKeuze", (string)@ViewBag.tabelKeuze)
        <p> stap 3 wilt u de informatie uit tabel CPU opslaan als pdf of excel</p>
        <button name="opslaan" type="submit" value="OpslaanExcel">Opslaan als excel</button>
        <button name="opslaan" type="submit" value="OpslaanPdf">Opslaan als Pdf</button>
    }
</div>










