@model CvoInventarisClient.Models.TabelModel
@{
    ViewBag.Title = "Index";
}

@using (Html.BeginForm("stap1", "Rapportering"))
{
    @Html.DropDownList("tabelKeuzes", "selecteer een tabel")
    <input type="submit" value="Submit" />
}

<div style="visibility : @ViewBag.stijlStap2">

    @using (Html.BeginForm("stap2", "Rapportering"))
    {
        <p>Wilt u uit de tabel : @ViewBag.tabelkeuze</p>
        <input name="submit" type="submit" id="alleGegevens" value="alle gegevens van de tabel : @ViewBag.tabelkeuze" />
        <input name="submit" type="submit" id="conditieGegevens" value="bepaalde conditie van de tabel : @ViewBag.tabelkeuze" />
    }
</div>


<table style="visibility : @ViewBag.cpu" class="table">
    @if (Model.cpus != null)
    {
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.cpus[0].IdCpu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cpus[0].Merk)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cpus[0].Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cpus[0].Snelheid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cpus[0].FabrieksNummer)
            </th>
        </tr>


        foreach (var item in Model.cpus)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IdCpu)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Merk)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Snelheid)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FabrieksNummer)
                </td>
            </tr>
        }
    }

</table>

<table class="table">
    @if (Model.hardwares != null)
    {
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.hardwares[0].IdHardware)
            </th>
            <th>
                Cpu
            </th>
            <th>
                Apparaat
            </th>
            <th>
                Grafische kaart
            </th>
            <th>
                Harddisk
            </th>
        </tr>

        foreach (var item in Model.hardwares)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IdHardware)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cpu.Merk)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Device.Merk)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GrafischeKaart.Merk)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Harddisk.Merk)
                </td>
            </tr>
        }
    }
</table>

<div style="visibility : @ViewBag.stijlStapOpslaan">

    @using (Html.BeginForm("StapOpslaan", "Rapportering"))
    {
        @Html.Hidden("tabelKeuze", (string)@ViewBag.tabelKeuze)
        <p> stap 3 wilt u de informatie uit tabel CPU opslaan als pdf of excel</p>
        <button name="opslaan" type="submit" value="OpslaanExcel">Opslaan als excel</button>
        <button name="opslaan" type="submit" value="OpslaanPdf">Opslaan als Pdf</button>
    }
</div>










