@{
    Layout = null;
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <h1>Rapportering</h1>
    <p>Stap 1 : Uit welke tabel wilt u gegevens halen ?</p>
    <form action="/Rapportering/Stap1" method="post">
        <select disabled id="stap1" name="stap1">
            <option value="lokaal">Lokaal</option>
        </select>
        <p>Stap 2 : Wilt u al de gegevens uit de tabel of enkel bepaalde gegevens</p>
        <button disabled name="action" type="submit" value="stap2ZonderConditie">Alle gegevens</button>
        <button disabled name="action" type="submit" value="stap2Conditie">bepaalde gegevens</button>
    </form>
    <form action="/Rapportering/Stap3Lokaal" method="post">
        <p>stap 3 : Kies welke gegevens je uit de tabel Cpu wilt hebben</p>
        @Html.CheckBox("TblLokaal.idLokaal") id lokaal
        @Html.CheckBox("TblLokaal.lokaalNaam") naam
        @Html.CheckBox("TblLokaal.aantalPlaatsen") aantal plaatsen
        @Html.CheckBox("TblLokaal.isComputerLokaal") computerlokaal
        @Html.CheckBox("TblNetwerk.merk") netwerk
        <button name="action" type="submit" value="kolomKeuze">klaar</button>
        <div style="display : @ViewBag.styleLokaalStap4">
            <p>stap 4 : Kies welke conditie of condities u op de gegevens @ViewBag.resultaatCheck wilt toepassen</p>
            <p>@Html.CheckBox("lokaalNaamKeuzeCheck") lokaal naam = @Html.DropDownList("lokalen", "selecteer een lokaal")</p>
            <p>
                @Html.CheckBox("aantalPlaatsenKeuzeCheck") aantal plaatsen @Html.RadioButton("aantalPlaatsenKeuze", ">") >
                @Html.RadioButton("aantalPlaatsenKeuze", "<") <
                @Html.RadioButton("aantalPlaatsenKeuze", "=") =
                @Html.RadioButton("aantalPlaatsenKeuze", ">=") >=
                @Html.RadioButton("aantalPlaatsenKeuze", "<=") <=
                @Html.TextBox("aantalPlaatsenKeuze1")
            </p>
            <p>
                @Html.CheckBox("isComputerLokaalKeuzeCheck") computerlokaal = @Html.RadioButton("isComputerLokaalKeuze", "0") niet waar
                @Html.RadioButton("isComputerLokaalKeuze", "1") waar
            </p>
            <p>
            <p>@Html.CheckBox("netwerkMerkKeuzeCheck") netwerk = @Html.DropDownList("netwerken", "selecteer een netwerk")</p>
            <button name="action" type="submit" value="conditieKeuze/@ViewBag.resultaatCheck">klaar</button>
        </div>
        <div style="display : @ViewBag.styleLokaalStap5">
            @if (ViewBag.Rapport != null)
            {
                <table>
                    <tr>
                        <td>@ViewBag.test</td>
                        <td>@ViewBag.test1</td>
                        <td>@ViewBag.test2</td>
                        <td>@ViewBag.test3</td>
                        <td>@ViewBag.test4</td>
                    </tr>
                    @foreach (var item in ViewBag.Rapport)
                    {
                        <tr>
                            @if (@item.IdLokaal != 0)
                            {
                                <td>@item.IdLokaal</td> }
                            @if (@item.LokaalNaam != null)
                            {
                                <td>@item.LokaalNaam</td>
                            }
                            @if (@item.AantalPlaatsen != 0)
                            {
                                <td>@item.AantalPlaatsen</td>
                            }
                            @if (@item.IsComputerLokaal != null)
                            {
                                <td>@item.IsComputerLokaal</td>
                            }
                            @if (@item.Netwerk.Merk != null)
                            {
                                <td>@item.Netwerk.Merk</td>
                            }
                        </tr>
                    }
                </table>
                @Html.Hidden("query", (string)@ViewBag.query)
                @Html.Hidden("tables", (string)@ViewBag.tables)
                <p> stap 3 wilt u de informatie uit tabel CPU opslaan als pdf of excel</p>
                    <button name="action" type="submit" value="OpslaanExcel/@ViewBag.query/@ViewBag.tables">Opslaan als excel</button>
                    <button name="action" type="submit" value="OpslaanPdf/@ViewBag.query/@ViewBag.tables">opslaan als pdf</button>
            }
        </div>
    </form>


</body>
</html>
