@{
    Layout = null;
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <h1>Rapportering</h1>
    <p>Stap 1 : Uit welke tabel wilt u gegevens halen ?</p>
    <form action="/Rapportering/Stap1" method="post">
        <select disabled id="stap1" name="stap1">
            <option value="netwerk">netwerk</option>
        </select>
        <p>Stap 2 : Wilt u al de gegevens uit de tabel of enkel bepaalde gegevens</p>
        <button disabled name="action" type="submit" value="stap2ZonderConditie">Alle gegevens</button>
        <button disabled name="action" type="submit" value="stap2Conditie">bepaalde gegevens</button>
    </form>
    <form action="/Rapportering/Stap3Netwerk" method="post">
        <p>stap 3 : Kies welke gegevens je uit de tabel Grafische kaart wilt hebben</p>
        @Html.CheckBox("idNetwerk") id apparaat
        @Html.CheckBox("merk") merk
        @Html.CheckBox("type") type
        @Html.CheckBox("snelheid") snelheid
        @Html.CheckBox("driver") driver  
        <button name="action" type="submit" value="kolomKeuze">klaar</button>
        <div style="display : @ViewBag.styleCpuStap4">
            <p>stap 4 : Kies welke conditie of condities u op de gegevens @ViewBag.resultaatCheck wilt toepassen</p>
            <p>@Html.CheckBox("merkKeuzeCheck") merk = @Html.TextBox("merkKeuzeTekst")</p>
            <p>@Html.CheckBox("typeKeuzeCheck") type = @Html.TextBox("typeKeuzeTekst")</p>
            <p>@Html.CheckBox("snelheidKeuzeCheck") type = @Html.TextBox("snelheidKeuzeTekst")</p>
            <p>@Html.CheckBox("driverKeuzeCheck") serienummer = @Html.TextBox("driverKeuzeTekst")</p>
            <button name="action" type="submit" value="conditieKeuze/@ViewBag.resultaatCheck">klaar</button>
        </div>
        <div style="display : @ViewBag.styleCpuStap5">
            @if (ViewBag.Rapport != null)
            {
                <table>
                    <tr>
                        <td>@ViewBag.test</td>
                        <td>@ViewBag.test1</td>
                        <td>@ViewBag.test2</td>
                        <td>@ViewBag.test3</td>
                        <td>@ViewBag.test4</td>
                    </tr>
                    @foreach (var item in ViewBag.Rapport)
                    {
                        <tr>
                            @if (@item.id != 0)
                            {
                                <td>@item.id</td> }
                            @if (@item.merk != null)
                            {
                                <td>@item.merk</td>
                            }
                            @if (@item.type != null)
                            {
                                <td>@item.type</td>
                            }
                            @if (@item.snelheid != null)
                            {
                                <td>@item.snelheid</td>
                            }
                            @if (@item.driver != null)
                            {
                                <td>@item.driver</td>
                            }
                            
                        </tr>
                    }
                </table>
                @Html.Hidden("query", (string)@ViewBag.query)
                @Html.Hidden("tables", (string)@ViewBag.tables)
                <p> stap 3 wilt u de informatie uit tabel CPU opslaan als pdf of excel</p>
                <button type="submit" value="OpslaanExcel">Opslaan als excel</button>
                    <button name="action" type="submit" value="OpslaanPdf/@ViewBag.query/@ViewBag.tables">opslaan als pdf</button>
            }
        </div>
    </form>


</body>
</html>



