@model CvoInventarisClient.Models.FactuurModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TblFactuur</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Boekjaar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Boekjaar)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CvoVolgNummer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CvoVolgNummer)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FactuurNummer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FactuurNummer)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FactuurDatum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FactuurDatum)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FactuurStatusGetekend)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FactuurStatusGetekend)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.VerwerkingsDatum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VerwerkingsDatum)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Leverancier.IdLeverancier)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Leverancier.IdLeverancier)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Prijs)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Prijs)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Garantie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Garantie)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Omschrijving)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Omschrijving)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Opmerking)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Opmerking)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Afschrijfperiode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Afschrijfperiode)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OleDoc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OleDoc)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OleDocPath)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OleDocPath)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OleDocFileName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OleDocFileName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DatumInsert)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DatumInsert)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UserInsert)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserInsert)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DatumModified)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DatumModified)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UserModified)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserModified)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Update", new { id = Model.IdFactuur }) |
    @Html.ActionLink("Back to List", "Index")
</p>

