@model CvoInventarisClient.Models.FactuurViewModel

@{
    ViewBag.Title = "Factuur - Edit";
}

@using (Html.BeginForm("Edit", "Factuur"))
{
    <div class="panel panel-primary">
        <div class="panel-heading">@ViewBag.Title</div>
        <div class="container-fluid">
            @Html.Hidden("idFactuur", Model.Facturen[0].IdFactuur)
            @Html.Hidden("defaultIdLeverancier", Model.Facturen[0].Leverancier.IdLeverancier)
            <div class="form-group">
                @Html.DisplayNameFor(model => model.Facturen[0].Boekjaar)
                <input class="form-control" type="date" name="boekjaar" value="@Model.Facturen[0].Boekjaar" required/>
            </div>
            <div class="form-group">
                @Html.DisplayNameFor(model => model.Facturen[0].CvoVolgNummer)
                <input class="form-control" type="text" name="cvoVolgNummer" value="@Model.Facturen[0].CvoVolgNummer" required/>
            </div>
            <div class="form-group">
                @Html.DisplayNameFor(model => model.Facturen[0].FactuurNummer)
                <input class="form-control" type="text" name="factuurNummer" value="@Model.Facturen[0].FactuurNummer" required/>
            </div>
            <div class="form-group">
                @Html.DisplayNameFor(model => model.Facturen[0].ScholengroepNummer)
                <input class="form-control" type="text" name="scholengroepNummer" value="@Model.Facturen[0].ScholengroepNummer" required/>
            </div>
            <div class="form-group">
                @Html.DisplayNameFor(model => model.Facturen[0].FactuurDatum)
                <input class="form-control" type="date" name="factuurDatum" value="@Model.Facturen[0].FactuurDatum" required/>
            </div>
            <div class="form-group">
                Leverancier
                @Html.DropDownListFor(model => model.Leveranciers, Model.Leveranciers, Model.Facturen[0].Leverancier.Naam, new { @class="form-control" })
            </div>
            <div class="form-group">
                @Html.DisplayNameFor(model => model.Facturen[0].Prijs)
                <input class="form-control" type="text" name="prijs" value="@Model.Facturen[0].Prijs" required/>
            </div>
            <div class="form-group">
                @Html.DisplayNameFor(model => model.Facturen[0].Garantie)
                <input class="form-control" type="text" name="garantie" value="@Model.Facturen[0].Garantie" required/>
            </div>
            <div class="form-group">
                @Html.DisplayNameFor(model => model.Facturen[0].Omschrijving)
                <input class="form-control" type="text" name="omschrijving" value="@Model.Facturen[0].Omschrijving" required/>
            </div>
            <div class="form-group">
                @Html.DisplayNameFor(model => model.Facturen[0].Opmerking)
                <input class="form-control" type="text" name="opmerking" value="@Model.Facturen[0].Opmerking" required/>
            </div>
            <div class="form-group">
                @Html.DisplayNameFor(model => model.Facturen[0].Afschrijfperiode)
                <input class="form-control" type="text" name="afschrijfperiode" value="@Model.Facturen[0].Afschrijfperiode" required/>
            </div>
            <div class="form-group">
                @Html.DisplayNameFor(model => model.Facturen[0].DatumInsert)
                <input class="form-control" type="date" name="datumInsert" value="@Model.Facturen[0].DatumInsert" required/>
            </div>
            <div class="form-group">
                @Html.DisplayNameFor(model => model.Facturen[0].UserInsert)
                <input class="form-control" type="text" name="userInsert" value="@Model.Facturen[0].UserInsert" required/>
            </div>
            <div class="form-group">
                @Html.DisplayNameFor(model => model.Facturen[0].DatumModified)
                <input class="form-control" type="date" name="datumModified" value="@Model.Facturen[0].DatumModified"/>
            </div>
            <div class="form-group">
                @Html.DisplayNameFor(model => model.Facturen[0].UserModified)
                <input class="form-control" type="text" name="userModified" value="@Model.Facturen[0].UserModified"/>
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Pas factuur aan</button>
    @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-default" })
}
