@model CvoInventarisClient.Models.FactuurViewModel

@{
    ViewBag.Title = "Facturen";
}
@if (!String.IsNullOrWhiteSpace(ViewBag.action))
{
    <div class="alert alert-info alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        @ViewBag.action
    </div>
}
@using (Html.BeginForm("Delete", "Factuur"))
{
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".nieuwModal">Nieuw</button>
    <button type="button" class="btn btn-danger" data-toggle="modal" data-target=".verwijderModal">Verwijder</button>

    if (HttpContext.Current.Request.RequestContext.RouteData.Values["action"].ToString().ToLower().Equals("filter".ToLower()))
    {
        <a class="btn btn-danger pull-right" href="@Url.Action("Index", "Factuur")">Verwijder filter</a>
    }
    else
    {
        <button type="button" class="btn btn-primary pull-right" data-toggle="modal" data-target=".filterModal"><span class="glyphicon glyphicon-search"></span></button>
    }

    <div class="spacer"></div>

    <div class="panel panel-primary">
        <div class="panel-heading">@ViewBag.Title</div>
        <table class="table table-striped dataTable">
            <thead>
                <tr>
                    <th></th>
                    <th></th>
                    <th>
                        @Html.DisplayNameFor(model => model.Facturen[0].Boekjaar)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Facturen[0].CvoVolgNummer)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Facturen[0].FactuurNummer)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Facturen[0].ScholengroepNummer)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Facturen[0].FactuurDatum)
                    </th>
                    <th>
                        Leverancier
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Facturen[0].Prijs)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Facturen[0].Garantie)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Facturen[0].Omschrijving)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Facturen[0].Opmerking)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Facturen[0].Afschrijfperiode)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Facturen[0].DatumInsert)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Facturen[0].UserInsert)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Facturen[0].DatumModified)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Facturen[0].UserModified)
                    </th>
                </tr>
            </thead>
            <tbody class="search">
                @foreach (var item in Model.Facturen)
                {
                    <tr>
                        <td>
                            <input type="checkbox" name="idArray" value="@item.Id" />
                        </td>
                        <td>
                            <a class="bottom-align-text" href="@Url.Action("Edit", "Factuur", new { id = item.Id })"><s><span class="glyphicon glyphicon-pencil"></span></s></a>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Boekjaar)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CvoVolgNummer)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FactuurNummer)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ScholengroepNummer)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FactuurDatum)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Leverancier.Naam)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Prijs)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Garantie)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Omschrijving)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Opmerking)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Afschrijfperiode)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DatumInsert)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UserInsert)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DatumModified)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UserModified)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <!-- Delete modal -->
    <div class="modal fade verwijderModal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <strong>Let op!</strong>
                </div>
                <div class="modal-body">
                    Bent u zeker?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <input type="submit" name="Delete" value="Verwijder" class="btn btn-danger" />
                </div>
            </div>
        </div>
    </div>
}
<!-- nieuw modal -->
<div class="modal fade nieuwModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <strong>Vul in</strong>
            </div>
            @using (Html.BeginForm("Create", "Factuur"))
            {
                <div class="modal-body">
                    <div class="form-group">
                        @Html.DisplayNameFor(model => model.Facturen[0].Boekjaar)
                        <input class="form-control" maxlength="50" type="date" name="boekjaar" required/>
                    </div>
                    <div class="form-group">
                        @Html.DisplayNameFor(model => model.Facturen[0].CvoVolgNummer)
                        <input class="form-control" maxlength="50" type="text" name="cvoVolgNummer" required/>
                    </div>
                    <div class="form-group">
                        @Html.DisplayNameFor(model => model.Facturen[0].FactuurNummer)
                        <input class="form-control" maxlength="50" type="text" name="factuurNummer" required/>
                    </div>
                    <div class="form-group">
                        @Html.DisplayNameFor(model => model.Facturen[0].ScholengroepNummer)
                        <input class="form-control" maxlength="50" type="text" name="scholengroepNummer" required />
                    </div>
                    <div class="form-group">
                        @Html.DisplayNameFor(model => model.Facturen[0].FactuurDatum)
                        <input class="form-control" maxlength="50" type="date" name="factuurDatum" required/>
                    </div>
                    <div class="form-group">
                        Leverancier
                        @Html.DropDownListFor(model => model.Leveranciers, Model.Leveranciers, "", new { @class = "form-control", required = "required" })
                    </div>
                    <div class="form-group">
                        @Html.DisplayNameFor(model => model.Facturen[0].Prijs)
                        <input class="form-control" maxlength="50" type="text" name="prijs" required/>
                    </div>
                    <div class="form-group">
                        @Html.DisplayNameFor(model => model.Facturen[0].Garantie)
                        <input class="form-control" type="text" name="garantie" required/>
                    </div>
                    <div class="form-group">
                        @Html.DisplayNameFor(model => model.Facturen[0].Omschrijving)
                        <input class="form-control" maxlength="1200" type="text" name="omschrijving" required/>
                    </div>
                    <div class="form-group">
                        @Html.DisplayNameFor(model => model.Facturen[0].Opmerking)
                        <input class="form-control" maxlength="1200" type="text" name="opmerking" required/>
                    </div>
                    <div class="form-group">
                        @Html.DisplayNameFor(model => model.Facturen[0].Afschrijfperiode)
                        <input class="form-control" type="text" name="afschrijfperiode" required/>
                    </div>
                    <div class="form-group">
                        @Html.DisplayNameFor(model => model.Facturen[0].DatumInsert)
                        <input class="form-control" maxlength="50" type="date" name="datumInsert" required/>
                    </div>
                    <div class="form-group">
                        @Html.DisplayNameFor(model => model.Facturen[0].UserInsert)
                        <input class="form-control" maxlength="50" type="text" name="userInsert" required/>
                    </div>
                    <div class="form-group">
                        @Html.DisplayNameFor(model => model.Facturen[0].DatumModified)
                        <input class="form-control" maxlength="50" type="date" name="datumModified"/>
                    </div>
                    <div class="form-group">
                        @Html.DisplayNameFor(model => model.Facturen[0].UserModified)
                        <input class="form-control" maxlength="50" type="text" name="userModified"/>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Voeg factuur toe</button>
                </div>
            }
        </div>
    </div>
</div>

<!-- Filter modal -->
<div class="modal fade filterModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <strong>nieuwe filter</strong>
            </div>
            @using (Html.BeginForm("Filter", "Factuur"))
            {

                <div class="modal-body">
                    <div class="form-group">

                        <div class="form-group">
                            <label>Boekjaar:</label>
                            <select class="form-control" name="boekjaarFilterSecondary">
                                <option value="=">van</option>
                                <option value="<">voor</option>
                                <option value=">">na</option>
                            </select>
                            <input class="form-control" type="number" name="boekjaarFilter" placeholder="jaar(bv: 2001)" />
                        </div>

                        <div class="form-group">
                            <label>CVO volgnummer:</label>
                            <input class="form-control" type="text" name="cvoVolgNummerFilter" />
                        </div>

                        <div class="form-group">
                            <label>Factuurnummer:</label>
                            <input class="form-control" type="text" name="factuurNummerFilter" />
                        </div>

                        <div class="form-group">
                            <label>Scholengroepnummer:</label>
                            <input class="form-control" type="text" name="scholengroepNummerFilter" />
                        </div>

                        <div class="form-group">
                            <label>Leverancier:</label>
                            <select class="form-control" name="leverancierFilter">
                                <option value="-1">-Selecteer-</option>
                                @foreach (var item in Model.Leveranciers)
                                {
                                    <option value="@item.Value">@item.Text</option>
                                }
                            </select>
                        </div>

                        <div class="form-group">
                            <label>Garantie:</label>
                            <select class="form-control" name="garantieFilterSecondary">
                                <option value="=">gelijk aan</option>
                                <option value="<">kleiner dan</option>
                                <option value=">">groter dan</option>
                            </select>
                            <input class="form-control" type="number" name="garantieFilter" placeholder="garantie(bv: 5)" />
                        </div>

                        <div class="form-group">
                            <label>Afschrijfperiode:</label>
                            <select class="form-control" name="afschrijfperiodeFilterSecondary">
                                <option value="=">gelijk aan</option>
                                <option value="<">kleiner dan</option>
                                <option value=">">groter dan</option>
                            </select>
                            <input class="form-control" type="number" name="afschrijfperiodeFilter" placeholder="periode(bv: 5)" />
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">filter</button>
                </div>
            }
        </div>
    </div>
</div>

@using (Html.BeginForm("Export", "Export"))
{
    //loop aanpassen naar model
    foreach (var item in Model.Facturen)
    {
        <input type="hidden" name="modelList" value="@item.Id" />
    }
    <input type="hidden" name="type" value="@HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString()" />

    <button type="submit" name="exportType" value="pdf" class="btn btn-success">Export to PDF</button>
    <button type="submit" name="exportType" value="excel" class="btn btn-success">Export to Excel</button>
}



