@model IEnumerable<CvoInventarisClient.Models.FactuurModel>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Index";
}

@using (Html.BeginForm("deleteFactuur", "Factuur"))
{

    <div class="panel panel-primary">
        <div class="panel-heading">Inventaris</div>
        <table class="table table-striped">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.IdFactuur)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Boekjaar)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CvoVolgNummer)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FactuurNummer)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FactuurDatum)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FactuurStatusGetekend)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.VerwerkingsDatum)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Leverancier.IdLeverancier)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Prijs)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Garantie)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Omschrijving)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Opmerking)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Afschrijfperiode)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OleDoc)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OleDocPath)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OleDocFileName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DatumInsert)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UserInsert)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DatumModified)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UserModified)
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <input type="checkbox" name="idArray" value="@item.IdFactuur" />
                    </td>
                    <td>
                        <a class="bottom-align-text" href="@Url.Action("updateFactuur", "Factuur", new { id = item.IdFactuur })"><span class="glyphicon glyphicon-pencil"></span></a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdFactuur)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Boekjaar)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CvoVolgNummer)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FactuurNummer)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FactuurDatum)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FactuurStatusGetekend)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.VerwerkingsDatum)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Leverancier.IdLeverancier)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Prijs)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Garantie)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Omschrijving)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Opmerking)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Afschrijfperiode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OleDoc)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OleDocPath)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OleDocFileName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DatumInsert)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserInsert)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DatumModified)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserModified)
                    </td>
                </tr>
            }

        </table>
    </div>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".nieuwModal">Nieuw</button>
    <input type="submit" name="Delete" value="Verwijder" class="btn btn-danger" />
}
<!-- modal -->
<div class="modal fade nieuwModal" tabindex="-1" role="dialog" aria-labelledby="nieuwModalLabel">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <strong>Voeg toe..</strong>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("insertFactuur", "Factuur"))
                {
                    <div class="form-group">
                        @Html.DisplayNameFor(model => model.Boekjaar)
                        <input class="form-control" type="datetime" name="Boekjaar" />
                    </div>
                    <div class="form-group">
                        @Html.DisplayNameFor(model => model.CvoVolgNummer)
                        <input class="form-control" type="text" name="CvoVolgNummer" />
                    </div>
                    <div class="form-group">
                        @Html.DisplayNameFor(model => model.FactuurNummer)
                        <input class="form-control" type="text" name="FactuurNummer" />
                    </div>
                    <div class="form-group">
                        @Html.DisplayNameFor(model => model.FactuurDatum)
                        <input class="form-control" type="date" name="FactuurDatum" />
                    </div>
                    <div class="form-group">
                        @Html.DisplayNameFor(model => model.FactuurStatusGetekend)
                        <input class="form-control" type="checkbox" name="FactuurStatusGetekend" />
                    </div>
                    <div class="form-group">
                        @Html.DisplayNameFor(model => model.VerwerkingsDatum)
                        <input class="form-control" type="text" name="VerwerkingsDatum" />
                    </div>
                    <div class="form-group">
                        @Html.DisplayNameFor(model => model.Leverancier.IdLeverancier)
                        <input class="form-control" type="text" name="IdLeverancier" />
                    </div>
                    <div class="form-group">
                        @Html.DisplayNameFor(model => model.Prijs)
                        <input class="form-control" type="text" name="Prijs" />
                    </div>
                    <div class="form-group">
                        @Html.DisplayNameFor(model => model.Garantie)
                        <input class="form-control" type="text" name="Garantie" />
                    </div>
                    <div class="form-group">
                        @Html.DisplayNameFor(model => model.Omschrijving)
                        <input class="form-control" type="text" name="Omschrijving" />
                    </div>
                    <div class="form-group">
                        @Html.DisplayNameFor(model => model.Opmerking)
                        <input class="form-control" type="text" name="Opmerking" />
                    </div>
                    <div class="form-group">
                        @Html.DisplayNameFor(model => model.Afschrijfperiode)
                        <input class="form-control" type="text" name="Afschrijfperiode" />
                    </div>
                    <div class="form-group">
                        @Html.DisplayNameFor(model => model.OleDoc)
                        <input class="form-control" type="text" name="OleDoc" />
                    </div>
                    <div class="form-group">
                        @Html.DisplayNameFor(model => model.OleDocPath)
                        <input class="form-control" type="text" name="OleDocPath" />
                    </div>
                    <div class="form-group">
                        @Html.DisplayNameFor(model => model.OleDocFileName)
                        <input class="form-control" type="text" name="OleDocFileName" />
                    </div>
                    <div class="form-group">
                        @Html.DisplayNameFor(model => model.DatumInsert)
                        <input class="form-control" type="text" name="DatumInsert" />
                    </div>
                    <div class="form-group">
                        @Html.DisplayNameFor(model => model.UserInsert)
                        <input class="form-control" type="text" name="UserInsert" />
                    </div>
                    <div class="form-group">
                        @Html.DisplayNameFor(model => model.DatumModified)
                        <input class="form-control" type="text" name="DatumModified" />
                    </div>
                    <div class="form-group">
                        @Html.DisplayNameFor(model => model.UserModified)
                        <input class="form-control" type="text" name="UserModified" />
                    </div>

                    <button type="submit" class="btn btn-primary">Submit</button>
                }
            </div>
        </div>
    </div>
</div>


