@model CvoInventarisClient.Models.FactuurViewModel

@{
    ViewBag.Title = "Facturen";
}
@if (!String.IsNullOrWhiteSpace(ViewBag.action))
{
    <div class="alert alert-info alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        @ViewBag.action
    </div>
}
@using (Html.BeginForm("Delete", "Factuur"))
{
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".nieuwModal">Nieuw</button>
    <input type="submit" name="Delete" value="Verwijder" class="btn btn-danger" />

    <div class="spacer"></div>

    <div class="panel panel-primary">
        <div class="panel-heading">@ViewBag.Title</div>
        <table class="table table-striped">
            <tr>
                <th></th>
                <th></th>
                <th>
                    @Html.DisplayNameFor(model => model.Factuur[0].Boekjaar)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Factuur[0].CvoVolgNummer)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Factuur[0].FactuurNummer)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Factuur[0].ScholengroepNummer)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Factuur[0].FactuurDatum)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Factuur[0].FactuurStatusGetekend)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Factuur[0].VerwerkingsDatum)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Factuur[0].Leverancier.IdLeverancier)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Factuur[0].Prijs)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Factuur[0].Garantie)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Factuur[0].Omschrijving)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Factuur[0].Opmerking)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Factuur[0].Afschrijfperiode)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Factuur[0].OleDoc)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Factuur[0].OleDocPath)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Factuur[0].OleDocFileName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Factuur[0].DatumInsert)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Factuur[0].UserInsert)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Factuur[0].DatumModified)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Factuur[0].UserModified)
                </th>
            </tr>

            @foreach (var item in Model.Factuur)
            {
                <tr>
                    <td>
                        <input type="checkbox" name="idArray" value="@item.IdFactuur" />
                    </td>
                    <td>
                        <a class="bottom-align-text" href="@Url.Action("Edit", "Factuur", new { id = item.IdFactuur })"><s><span class="glyphicon glyphicon-pencil"></span></s></a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Boekjaar)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CvoVolgNummer)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FactuurNummer)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ScholengroepNummer)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FactuurDatum)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FactuurStatusGetekend)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.VerwerkingsDatum)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Leverancier.IdLeverancier)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Prijs)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Garantie)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Omschrijving)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Opmerking)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Afschrijfperiode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OleDoc)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OleDocPath)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OleDocFileName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DatumInsert)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserInsert)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DatumModified)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserModified)
                    </td>
                </tr>
            }
        </table>
    </div>
}

<div class="modal fade nieuwModal" tabindex="-1" role="dialog" aria-labelledby="nieuwModalLabel">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <strong>Voeg toe...</strong>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("Create", "Factuur"))
                {
                    <div class="form-group">
                        @Html.DisplayNameFor(model => model.Factuur[0].Boekjaar)
                        <input class="form-control" type="date" name="boekjaar" required />
                    </div>
                    <div class="form-group">
                        @Html.DisplayNameFor(model => model.Factuur[0].CvoVolgNummer)
                        <input class="form-control" type="text" name="cvoVolgNummer" required />
                    </div>
                    <div class="form-group">
                        @Html.DisplayNameFor(model => model.Factuur[0].FactuurNummer)
                        <input class="form-control" type="text" name="factuurNummer" required />
                    </div>
                    <div class="form-group">
                        @Html.DisplayNameFor(model => model.Factuur[0].FactuurDatum)
                        <input class="form-control" type="date" name="factuurDatum" required />
                    </div>
                    <div class="form-group">
                        @Html.DisplayNameFor(model => model.Factuur[0].FactuurStatusGetekend)
                        <input class="form-control" type="checkbox" name="factuurStatusGetekend" required />
                    </div>
                    <div class="form-group">
                        @Html.DisplayNameFor(model => model.Factuur[0].VerwerkingsDatum)
                        <input class="form-control" type="date" name="verwerkingsDatum" required />
                    </div>
                    <div class="form-group">
                        @Html.DisplayNameFor(model => model.Factuur[0].Leverancier.IdLeverancier)
                        <input class="form-control" type="text" name="idLeverancier" required />
                    </div>
                    <div class="form-group">
                        @Html.DisplayNameFor(model => model.Factuur[0].Prijs)
                        <input class="form-control" type="text" name="prijs" required />
                    </div>
                    <div class="form-group">
                        @Html.DisplayNameFor(model => model.Factuur[0].Garantie)
                        <input class="form-control" type="text" name="garantie" required />
                    </div>
                    <div class="form-group">
                        @Html.DisplayNameFor(model => model.Factuur[0].Omschrijving)
                        <input class="form-control" type="text" name="omschrijving" required />
                    </div>
                    <div class="form-group">
                        @Html.DisplayNameFor(model => model.Factuur[0].Opmerking)
                        <input class="form-control" type="text" name="opmerking" required />
                    </div>
                    <div class="form-group">
                        @Html.DisplayNameFor(model => model.Factuur[0].Afschrijfperiode)
                        <input class="form-control" type="text" name="afschrijfperiode" required />
                    </div>
                    <div class="form-group">
                        @Html.DisplayNameFor(model => model.Factuur[0].OleDoc)
                        <input class="form-control" type="text" name="oleDoc" required />
                    </div>
                    <div class="form-group">
                        @Html.DisplayNameFor(model => model.Factuur[0].OleDocPath)
                        <input class="form-control" type="text" name="oleDocPath" required />
                    </div>
                    <div class="form-group">
                        @Html.DisplayNameFor(model => model.Factuur[0].OleDocFileName)
                        <input class="form-control" type="text" name="oleDocFileName" required />
                    </div>
                    <div class="form-group">
                        @Html.DisplayNameFor(model => model.Factuur[0].DatumInsert)
                        <input class="form-control" type="date" name="datumInsert" required />
                    </div>
                    <div class="form-group">
                        @Html.DisplayNameFor(model => model.Factuur[0].UserInsert)
                        <input class="form-control" type="text" name="userInsert" required />
                    </div>
                    <div class="form-group">
                        @Html.DisplayNameFor(model => model.Factuur[0].DatumModified)
                        <input class="form-control" type="date" name="datumModified" required />
                    </div>
                    <div class="form-group">
                        @Html.DisplayNameFor(model => model.Factuur[0].UserModified)
                        <input class="form-control" type="text" name="userModified" required />
                    </div>
                    <button type="submit" class="btn btn-primary">Voeg factuur toe</button>
                }
            </div>
        </div>
    </div>
</div>



