@model CvoInventarisClient.Models.ObjectTypeViewModel

@{
    ViewBag.Title = "ObjectType - Edit";
}

@using (Html.BeginForm("Edit", "ObjectType"))
{
    <div class="panel panel-primary">
        <div class="panel-heading">@ViewBag.Title</div>
        <div class="container-fluid">
            @Html.Hidden("idObjectType", Model.objectTypes[0].Id)
            <div class="form-group">
                @Html.DisplayNameFor(model => model.objectTypes[0].Omschrijving)
                <input class="form-control" maxlength="50" type="text" name="omschrijving" value="@Model.objectTypes[0].Omschrijving" required />
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Pas objecttype aan</button>
    @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-default" })
}