@model CvoInventarisClient.Models.LeverancierModel

@{
    ViewBag.Title = "Leverancier - Edit";
}

@using (Html.BeginForm("Edit", "Leverancier"))
{
    <div class="panel panel-primary">
        <div class="panel-heading">@ViewBag.Title</div>
        <div class="container-fluid">
            @Html.Hidden("idLeverancier", Model.IdLeverancier)
            <div class="form-group">
                @Html.DisplayNameFor(model => model.Naam)
                <input class="form-control" type="text" name="naam" value="@Model.Naam" required/>
            </div>
            <div class="form-group">
                @Html.DisplayNameFor(model => model.Afkorting)
                <input class="form-control" type="text" name="afkorting" value="@Model.Afkorting" required/>
            </div>
            <div class="form-group">
                @Html.DisplayNameFor(model => model.Straat)
                <input class="form-control" type="text" name="straat" value="@Model.Straat" required/>
            </div>
            <div class="form-group">
                @Html.DisplayNameFor(model => model.HuisNummer)
                <input class="form-control" type="text" name="huisNummer" value="@Model.HuisNummer" required/>
            </div>
            <div class="form-group">
                @Html.DisplayNameFor(model => model.BusNummer)
                <input class="form-control" type="text" name="busNummer" value="@Model.BusNummer" required/>
            </div>
            <div class="form-group">
                @Html.DisplayNameFor(model => model.Postcode)
                <input class="form-control" type="text" name="postcode" value="@Model.Postcode" required/>
            </div>
            <div class="form-group">
                @Html.DisplayNameFor(model => model.Telefoon)
                <input class="form-control" type="text" name="telefoon" value="@Model.Telefoon" required/>
            </div>
            <div class="form-group">
                @Html.DisplayNameFor(model => model.Fax)
                <input class="form-control" type="text" name="fax" value="@Model.Fax" required/>
            </div>
            <div class="form-group">
                @Html.DisplayNameFor(model => model.Email)
                <input class="form-control" type="text" name="email" value="@Model.Email" required/>
            </div>
            <div class="form-group">
                @Html.DisplayNameFor(model => model.Website)
                <input class="form-control" type="text" name="website" value="@Model.Website" required/>
            </div>
            <div class="form-group">
                @Html.DisplayNameFor(model => model.BtwNummer)
                <input class="form-control" type="text" name="btwNummer" value="@Model.BtwNummer" required/>
            </div>
            <div class="form-group">
                @Html.DisplayNameFor(model => model.Iban)
                <input class="form-control" type="text" name="iban" value="@Model.Iban" required/>
            </div>
            <div class="form-group">
                @Html.DisplayNameFor(model => model.Bic)
                <input class="form-control" type="text" name="bic" value="@Model.Bic" required/>
            </div>
            <div class="form-group">
                @Html.DisplayNameFor(model => model.ToegevoegdOp)
                <input class="form-control" type="date" name="toegevoegdOp" value="@Model.ToegevoegdOp" required/>
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Pas leverancier aan</button>
    @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-default" })
}

