@model CvoInventarisClient.Models.LeverancierViewModel

@{
    ViewBag.Title = "Leverancier - Edit";
}

@using (Html.BeginForm("Edit", "Leverancier"))
{
    <div class="panel panel-primary">
        <div class="panel-heading">@ViewBag.Title</div>
        <div class="container-fluid">
            @Html.Hidden("idLeverancier", Model.Leveranciers[0].Id)
            <div class="form-group">
                @Html.DisplayNameFor(model => model.Leveranciers[0].Naam)
                <input class="form-control" maxlength="255" type="text" name="naam" value="@Model.Leveranciers[0].Naam" />
            </div>
            <div class="form-group">
                @Html.DisplayNameFor(model => model.Leveranciers[0].Straat)
                <input class="form-control" maxlength="255" type="text" name="straat" value="@Model.Leveranciers[0].Straat" />
            </div>
            <div class="form-group">
                @Html.DisplayNameFor(model => model.Leveranciers[0].StraatNummer)
                <input class="form-control" maxlength="10" type="text" name="straatNummer" value="@Model.Leveranciers[0].StraatNummer" />
            </div>
            <div class="form-group">
                @Html.DisplayNameFor(model => model.Leveranciers[0].BusNummer)
                <input class="form-control" maxlength="10" type="text" name="busNummer" value="@Model.Leveranciers[0].BusNummer" />
            </div>
            <div class="form-group">
                @Html.DisplayNameFor(model => model.Leveranciers[0].Postcode.Gemeente)
                <select class="form-control" name="Postcodes">
                    <option value="@Model.Leveranciers[0].Postcode.Id">@Model.Leveranciers[0].Postcode.Gemeente</option>
                    @foreach (var item in Model.Postcodes)
                    {
                        if (item.Value != Model.Leveranciers[0].Postcode.Id.ToString())
                        {
                            <option value="@item.Value">@item.Text</option>
                        }
                    }
                </select>
            </div>
            <div class="form-group">
                @Html.DisplayNameFor(model => model.Leveranciers[0].Telefoon)
                <input class="form-control" maxlength="50" type="text" name="telefoon" value="@Model.Leveranciers[0].Telefoon" />
            </div>
            <div class="form-group">
                @Html.DisplayNameFor(model => model.Leveranciers[0].Fax)
                <input class="form-control" maxlength="50" type="text" name="fax" value="@Model.Leveranciers[0].Fax" />
            </div>
            <div class="form-group">
                @Html.DisplayNameFor(model => model.Leveranciers[0].Email)
                <input class="form-control" maxlength="50" type="text" name="email" value="@Model.Leveranciers[0].Email" />
            </div>
            <div class="form-group">
                @Html.DisplayNameFor(model => model.Leveranciers[0].Website)
                <input class="form-control" maxlength="50" type="text" name="website" value="@Model.Leveranciers[0].Website" />
            </div>
            <div class="form-group">
                @Html.DisplayNameFor(model => model.Leveranciers[0].BtwNummer)
                <input class="form-control" maxlength="50" type="text" name="btwNummer" value="@Model.Leveranciers[0].BtwNummer" />
            </div>
            <div class="form-group">
                @Html.DisplayNameFor(model => model.Leveranciers[0].ActiefDatum)
                <input class="form-control" maxlength="50" type="text" name="actiefDatum" value="@Model.Leveranciers[0].ActiefDatum" placeholder="01/01/2010"/>
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Pas leverancier aan</button>
    @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-default" })
}

