@model CvoInventarisClient.Models.LeverancierViewModel

@{
    ViewBag.Title = "Leverancier - Edit";
}

<div class="col-sm-8">
    <div class="panel panel-primary">
        <div class="panel-heading">Aanpassen</div>
        <div class="container-fluid">
            @using (Html.BeginForm("Edit", "Leverancier"))
            {
                @Html.Hidden("idLeverancier", Model.Leveranciers[0].Id)

                <div class="form-horizontal">

                    <div class="form-group">
                        <label for="naam" class="col-sm-3 control-label">Naam</label>
                        <div class="col-sm-9">
                            <input class="form-control" value="@Model.Leveranciers[0].Naam" type="text" maxlength="1024" name="naam" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="straat" class="col-sm-3 control-label">Straat</label>
                        <div class="col-sm-9">
                            <input class="form-control" value="@Model.Leveranciers[0].Straat" type="text" maxlength="1024" name="straat" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="straatNummer" class="col-sm-3 control-label">Straatnummer</label>
                        <div class="col-sm-9">
                            <input class="form-control" value="@Model.Leveranciers[0].StraatNummer" type="text" maxlength="1024" name="straatNummer" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="busNummer" class="col-sm-3 control-label">Busnummer</label>
                        <div class="col-sm-9">
                            <input class="form-control" value="@Model.Leveranciers[0].BusNummer" type="text" maxlength="1024" name="busNummer" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="Postcodes" class="col-sm-3 control-label">Postcode</label>
                        <div class="col-sm-9">
                            <select class="form-control" name="Postcodes">
                                <option value="@Model.Leveranciers[0].Postcode.Id">@Model.Leveranciers[0].Postcode.Gemeente</option>
                                @foreach (var item in Model.Postcodes)
                                {
                                    if (item.Value != Model.Leveranciers[0].Postcode.Id.ToString())
                                    {
                                        <option value="@item.Value">@item.Text</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="telefoon" class="col-sm-3 control-label">Telefoon</label>
                        <div class="col-sm-9">
                            <input class="form-control" value="@Model.Leveranciers[0].Telefoon" type="text" maxlength="1024" name="telefoon" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="fax" class="col-sm-3 control-label">Fax</label>
                        <div class="col-sm-9">
                            <input class="form-control" value="@Model.Leveranciers[0].Fax" type="text" maxlength="1024" name="fax" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="email" class="col-sm-3 control-label">Email</label>
                        <div class="col-sm-9">
                            <input class="form-control" value="@Model.Leveranciers[0].Email" type="text" maxlength="1024" name="email" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="website" class="col-sm-3 control-label">Website</label>
                        <div class="col-sm-9">
                            <input class="form-control" value="@Model.Leveranciers[0].Website" type="text" maxlength="1024" name="website" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="btwNummer" class="col-sm-3 control-label">Btw nummer</label>
                        <div class="col-sm-9">
                            <input class="form-control" value="@Model.Leveranciers[0].BtwNummer" type="text" maxlength="1024" name="btwNummer" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="actiefDatum" class="col-sm-3 control-label">Actief datum</label>
                        <div class="col-sm-9">
                            <input class="form-control" value="@Model.Leveranciers[0].ActiefDatum" type="text" maxlength="1024" name="actiefDatum" />
                        </div>
                    </div>

                    <hr />

                </div>
                <button type="submit" class="btn btn-primary pull-right" style="margin-left: 5px">Pas aan</button>
                @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-default pull-right" })

            }
        </div>
    </div>
</div>
