@model IEnumerable<CvoInventarisClient.Models.LeverancierModel>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<br />

<div>
    @Html.ActionLink("Create New", "Insert", "Leverancier")
</div>

<br />
<br />

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IdLeverancier)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Naam)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Afkorting)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Straat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HuisNummer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BusNummer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Postcode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telefoon)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fax)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Website)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BtwNummer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Iban)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bic)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ToegevoegdOp)
        </th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IdLeverancier)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Naam)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Afkorting)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Straat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HuisNummer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BusNummer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Postcode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Telefoon)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fax)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Website)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BtwNummer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Iban)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Bic)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ToegevoegdOp)
        </td>
        <td>
            @Html.ActionLink("Edit", "Update", new { id = item.IdLeverancier }) |
            @Html.ActionLink("Details", "Details", new { id = item.IdLeverancier }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.IdLeverancier })                      
        </td>
    </tr>
}
</table>

